In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

In [2]:
df_2020= pd.read_excel('2020.xlsx')
df_2021= pd.read_excel('2021.xlsx')
df_2022= pd.read_excel('2022.xlsx')

In [3]:
df_2022.columns

Index(['Nombre', 'Código NIF', 'Localidad', 'Provincia', 'País',
       'Código primario CNAE 2009', 'Literal código CNAE 2009 primario',
       'Fecha constitución', 'Importador / Exportador', 'Países importación',
       'Países exportación', 'Otros activos líquidos\nmil EUR\n2022',
       'Inmovilizado\nmil EUR\n2022', 'Inmovilizado inmaterial\nmil EUR\n2022',
       'Inmovilizado material\nmil EUR\n2022',
       'Otros activos fijos\nmil EUR\n2022',
       'Activo circulante\nmil EUR\n2022', 'Existencias\nmil EUR\n2022',
       'Deudores\nmil EUR\n2022', 'Tesorería\nmil EUR\n2022',
       'Total activo\nmil EUR\n2022', 'Capital suscrito\nmil EUR\n2022',
       'Otros fondos propios\nmil EUR\n2022', 'Pasivo fijo\nmil EUR\n2022',
       'Acreedores a L. P.\nmil EUR\n2022',
       'Otros pasivos fijos\nmil EUR\n2022', 'Pasivo líquido\nmil EUR\n2022',
       'Deudas financieras\nmil EUR\n2022',
       'Acreedores comerciales\nmil EUR\n2022',
       'Otros pasivos líquidos\nmil EUR\n2022',
       'Total pasivo y capital propio\nmil EUR\n2022',
       'Número empleados\nÚlt. año disp.', 'Número empleados\n2022',
       'Ingresos de explotación\nmil EUR\n2022',
       'Importe neto Cifra de Ventas\nmil EUR\n2022',
       'Consumo de mercaderías y de materias\nmil EUR\n2022',
       'Resultado bruto\nmil EUR\n2022',
       'Otros gastos de explotación\nmil EUR\n2022',
       'Resultado Explotación\nmil EUR\n2022',
       'Ingresos financieros\nmil EUR\n2022',
       'Gastos financieros\nmil EUR\n2022',
       'Resultado financiero\nmil EUR\n2022',
       'Result. ordinarios antes Impuestos\nmil EUR\n2022',
       'Impuestos sobre sociedades\nmil EUR\n2022',
       'Resultado Actividades Ordinarias\nmil EUR\n2022',
       'Ingresos extraordinarios\nmil EUR\n2022',
       'Gastos extraordinarios\nmil EUR\n2022',
       'Resultados actividades extraordinarias\nmil EUR\n2022',
       'Resultado del Ejercicio\nmil EUR\n2022', 'Materiales\nmil EUR\n2022',
       'Gastos de personal\nmil EUR\n2022',
       'Dotaciones para amortiz. de inmovil.\nmil EUR\n2022',
       'Otros Conceptos de Explotación\nmil EUR\n2022',
       'Gastos financieros y gastos asimilados\nmil EUR\n2022'],
      dtype='object')

In [4]:
df_2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39479 entries, 0 to 39478
Data columns (total 54 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Nombre                                               39479 non-null  object
 1   Código NIF                                           39479 non-null  object
 2   Localidad                                            39478 non-null  object
 3   Provincia                                            39479 non-null  object
 4   País                                                 39479 non-null  object
 5   Código primario CNAE 2009                            39479 non-null  int64
 6   Literal código CNAE 2009 primario                    39479 non-null  object
 7   Fecha constitución                                   39465 non-null  object
 8   Importador / Exportador                              39479 non-null  object
 9   Países importación                                   2446 non-null   object
 10  Países exportación                                   969 non-null    object
 11  Otros activos líquidos
mil EUR
2022                  28966 non-null  float64
 12  Inmovilizado
mil EUR
2022                            27589 non-null  float64
 13  Inmovilizado inmaterial
mil EUR
2022                 8449 non-null   float64
 14  Inmovilizado material
mil EUR
2022                   24361 non-null  float64
 15  Otros activos fijos
mil EUR
2022                     20793 non-null  float64
 16  Activo circulante
mil EUR
2022                       29354 non-null  float64
 17  Existencias
mil EUR
2022                             15517 non-null  float64
 18  Deudores
mil EUR
2022                                27044 non-null  float64
 19  Tesorería
mil EUR
2022                               28438 non-null  float64
 20  Total activo
mil EUR
2022                            29369 non-null  float64
 21  Capital suscrito
mil EUR
2022                        29368 non-null  float64
 22  Otros fondos propios
mil EUR
2022                    29341 non-null  float64
 23  Pasivo fijo
mil EUR
2022                             18523 non-null  float64
 24  Acreedores a L. P.
mil EUR
2022                      17162 non-null  float64
 25  Otros pasivos fijos
mil EUR
2022                     29369 non-null  float64
 26  Pasivo líquido
mil EUR
2022                          29134 non-null  float64
 27  Deudas financieras
mil EUR
2022                      10162 non-null  float64
 28  Acreedores comerciales
mil EUR
2022                  20813 non-null  float64
 29  Otros pasivos líquidos
mil EUR
2022                  28902 non-null  float64
 30  Total pasivo y capital propio
mil EUR
2022           29369 non-null  float64
 31  Número empleados
Últ. año disp.                      29740 non-null  float64
 32  Número empleados
2022                                23190 non-null  float64
 33  Ingresos de explotación
mil EUR
2022                 28463 non-null  float64
 34  Importe neto Cifra de Ventas
mil EUR
2022            26770 non-null  float64
 35  Consumo de mercaderías y de materias
mil EUR
2022    22307 non-null  float64
 36  Resultado bruto
mil EUR
2022                         28646 non-null  float64
 37  Otros gastos de explotación
mil EUR
2022             29273 non-null  float64
 38  Resultado Explotación
mil EUR
2022                   29258 non-null  float64
 39  Ingresos financieros
mil EUR
2022                    29369 non-null  float64
 40  Gastos financieros
mil EUR
2022                      29369 non-null  float64
 41  Resultado financiero
mil EUR
2022                    29369 non-null  float64
 42  Result. ordinarios antes Impuestos
mil EUR
2022      29214 non-null  float64
 43  Impuestos sobre sociedades
mil EUR
2022              23365 non-null  float64
 44  Resultado Actividades Ordinarias
mil EUR
2022        29222 non-null  float64
 45  Ingresos extraordinarios
mil EUR
2022                0 non-null      float64
 46  Gastos extraordinarios
mil EUR
2022                  0 non-null      float64
 47  Resultados actividades extraordinarias
mil EUR
2022  16 non-null     float64
 48  Resultado del Ejercicio
mil EUR
2022                 29222 non-null  float64
 49  Materiales
mil EUR
2022                              22149 non-null  float64
 50  Gastos de personal
mil EUR
2022                      24919 non-null  float64
 51  Dotaciones para amortiz. de inmovil.
mil EUR
2022    23633 non-null  float64
 52  Otros Conceptos de Explotación
mil EUR
2022          29246 non-null  float64
 53  Gastos financieros y gastos asimilados
mil EUR
2022  21568 non-null  float64
dtypes: float64(43), int64(1), object(10)
memory usage: 16.3+ MB

In [5]:
df_2020_ingexp = df_2020[['Código NIF','Ingresos de explotación\nmil EUR\n2020']]
df_2020_ingexp.replace('n.d.',np.nan,inplace=True)
df_2020_ingexp.replace('Financial Export limit reached',np.nan,inplace=True)
df_2020_ingexp.isna().sum()

Código NIF                                    0
Ingresos de explotación\nmil EUR\n2020    10068
dtype: int64

In [6]:
df_2022_col=df_2022[['Nombre', 'Código NIF', 'Localidad',
       'Provincia', 'País', 'Código primario CNAE 2009',
       'Literal código CNAE 2009 primario', 'Fecha constitución',
       'Importador / Exportador', 'Países importación', 'Países exportación','Resultado del Ejercicio\nmil EUR\n2022',
       'Total activo\nmil EUR\n2022', 'Ingresos de explotación\nmil EUR\n2022', 'Activo circulante\nmil EUR\n2022', 
       'Pasivo líquido\nmil EUR\n2022', 'Resultado Explotación\nmil EUR\n2022',  
       'Otros activos líquidos\nmil EUR\n2022','Capital suscrito\nmil EUR\n2022',
       'Otros fondos propios\nmil EUR\n2022','Número empleados\n2022', 'Pasivo fijo\nmil EUR\n2022',
       'Acreedores a L. P.\nmil EUR\n2022',
       'Otros pasivos fijos\nmil EUR\n2022',
       'Deudas financieras\nmil EUR\n2022',
       'Acreedores comerciales\nmil EUR\n2022',
       'Otros pasivos líquidos\nmil EUR\n2022', 'Inmovilizado\nmil EUR\n2022', 'Otros activos fijos\nmil EUR\n2022']]
df_2022_col.head()

,Nombre,Código NIF,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,...,Otros fondos propios\nmil EUR\n2022,Número empleados\n2022,Pasivo fijo\nmil EUR\n2022,Acreedores a L. P.\nmil EUR\n2022,Otros pasivos fijos\nmil EUR\n2022,Deudas financieras\nmil EUR\n2022,Acreedores comerciales\nmil EUR\n2022,Otros pasivos líquidos\nmil EUR\n2022,Inmovilizado\nmil EUR\n2022,Otros activos fijos\nmil EUR\n2022
0,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,A95758389,BILBAO,Vizcaya,ESPANA,3514,Comercio de energía eléctrica,2014-03-17 00:00:00,Exportador,NaN,...,1344809.0,887.0,73692.0,15522.0,58170.0,53247.0,210709.0,1414596.0,483676.0,315025.0
1,PAN AMERICAN ENERGY SL.,B88260203,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1997-09-29 00:00:00,Exportador,NaN,...,5777889.0,4939.0,4850463.0,1669228.0,3181235.0,369521.0,643621.0,714128.0,12748223.0,1732003.0
2,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,A95758371,BILBAO,Vizcaya,ESPANA,4611,Intermediarios del comercio de materias primas...,2014-03-17 00:00:00,Exportador,NaN,...,-772285.0,243.0,3751684.0,3736825.0,14859.0,117.0,190448.0,2028725.0,3301347.0,3255329.0
3,ALVEAN SUGAR SOCIEDAD LIMITADA.,B95773057,BILBAO,Vizcaya,ESPANA,4636,"Comercio al por mayor de azúcar, chocolate y c...",2014-07-17 00:00:00,Importador / Exportador,NaN,...,312183.0,38.0,4498.0,3878.0,620.0,284983.0,90500.0,112227.0,36129.0,31093.0
4,"IBERDROLA, SOCIEDAD ANONIMA",A48010615,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1901-07-19 00:00:00,Exportador,NaN,...,26909000.0,853.0,11434000.0,10099000.0,1335000.0,1170000.0,NaN,9058000.0,50042000.0,49653000.0

Descartamos el df del 2021 al ver una gran cantidad de duplicados y al tener muchos menos datos no repetidos que el resto de los df.

In [7]:
nif_comunes =  set(df_2020['Código NIF'])&set(df_2022['Código NIF'])
len(nif_comunes)

39464

In [8]:
paises=list(df_2022_col[['Países exportación']].value_counts().index)
paises

[('UE',),
 ('EUROPA',),
 ('FRANCIA',),
 ('PORTUGAL',),
 ('UE;EEUU',),
 ('MEXICO',),
 ('AMERICA;ASIA;EUROPA',),
 ('CENTRO AMERICA;SUDAMERICA;UE',),
 ('FRANCIA;PORTUGAL',),
 ('ITALIA',),
 ('AMERICA;UE',),
 ('SUDAMERICA;UE',),
 ('ALEMANIA;FRANCIA',),
 ('CHINA',),
 ('ALEMANIA',),
 ('CUBA',),
 ('AFRICA;AMERICA;ASIA;EUROPA;OCEANIA',),
 ('AFRICA;AMERICA;ASIA;EUROPA',),
 ('EEUU',),
 ('BELGICA',),
 ('AMERICA;EUROPA',),
 ('AMERICA',),
 ('EUROPA;CENTRO AMERICA;SUDAMERICA',),
 ('ALEMANIA;FRANCIA;ITALIA;PORTUGAL',),
 ('EUROPA;EEUU',),
 ('SUECIA',),
 ('ALEMANIA;EEUU;UK',),
 ('CENTRO AMERICA;SUDAMERICA',),
 ('EUROPA;SUDAMERICA',),
 ('UE;AMERICA',),
 ('FRANCIA;UK;RUMANIA',),
 ('EUROPA;AUSTRALIA;CANADA;EEUU;JAPON;NUEVA ZELANDA',),
 ('INDIA',),
 ('INDIA;FRANCIA;CHINA',),
 ('EUROPA;ALEMANIA;SUECIA;FRANCIA;UK',),
 ('INDIA;PORTUGAL',),
 ('EUROPA;ORIENTE MEDIO;CHINA;EGIPTO',),
 ('IRLANDA;EEUU;AUSTRALIA;FRANCIA;CANADA',),
 ('ITALIA;FRANCIA',),
 ('ITALIA;FRANCIA;JAPON;ALEMANIA;AUSTRIA;EEUU;UK;ARABIA SAUDI',),
 ('ITALIA;POLONIA;UK;SUDAFRICA',),
 ('ITALIA;PORTUGAL',),
 ('KAZAJSTAN',),
 ('EUROPA;UK',),
 ('INDIA;SUECIA',),
 ('FRANCIA;SUDAMERICA',),
 ('EUROPA;BRASIL;SUDAFRICA',),
 ('FRANCIA;PORTUGAL;UK;BELGICA;DINAMARCA;ALEMANIA;PAISES BAJOS',),
 ('FRANCIA;ALEMANIA',),
 ('FRANCIA;ALEMANIA;SUIZA;AUSTRIA;BELGICA',),
 ('FRANCIA;PORTUGAL;ITALIA',),
 ('FRANCIA;BELGICA;PORTUGAL',),
 ('FRANCIA;EUROPA',),
 ('FRANCIA;ITALIA',),
 ('EUROPA;EEUU;MEXICO',),
 ('EUROPA;NORTE AMERICA;SUDAMERICA;ARGENTINA;COLOMBIA;EEUU;MEXICO',),
 ('EUROPA;EEUU;RUSIA;TAIWAN',),
 ('FRANCIA;MARRUECOS;SENEGAL',),
 ('FRANCIA;ITALIA;PORTUGAL;UK',),
 ('FRANCIA;ITALIA;PAISES BAJOS;UK;ALEMANIA;POLONIA;COLOMBIA;BRASIL;MEXICO;MALI;SUECIA;COSTA DE MARFIL',),
 ('FRANCIA;UK',),
 ('UE;AFRICA',),
 ('UE;ALEMANIA;AUSTRALIA;EEUU;FRANCIA;INDIA;JAPON',),
 ('UE;ALEMANIA;BELGICA;FRANCIA',),
 ('UE;ALEMANIA;EEUU;UK;SUIZA',),
 ('UE;AMERICA;ARABIA SAUDI',),
 ('UE;ANDORRA',),
 ('UE;AUSTRALIA;INDONESIA;MALASIA',),
 ('AFRICA;AMERICA;ASIA;ORIENTE MEDIO;UE',),
 ('AFRICA;AMERICA;EUROPA',),
 ('AFRICA;AMERICA;EUROPA;ALEMANIA;AUSTRALIA;FRANCIA;GROENLANDIA;ITALIA;NUEVA ZELANDA;POLONIA',),
 ('EUROPA;ALEMANIA;BELGICA;CHINA;JAPON',),
 ('AFRICA;AMERICA;UE',),
 ('AFRICA;ASIA;CENTRO AMERICA;SUDAMERICA;UE;EEUU',),
 ('AFRICA;ASIA;EUROPA',),
 ('UK;PAISES BAJOS',),
 ('UE;CANADA;EEUU;UK',),
 ('UE;CHINA;EEUU',),
 ('UE;CHINA;HONG KONG',),
 ('UE;CHINA;MEXICO',),
 ('UE;IRAN',),
 ('AFRICA DEL NORTE;ORIENTE MEDIO;SUDAMERICA;UE',),
 ('AFRICA;AMERICA;EUROPA;OCEANIA',),
 ('MARRUECOS',),
 ('MEXICO;ALEMANIA;EEUU;CHINA',),
 ('MEXICO;CUBA;ITALIA;FRANCIA',),
 ('MEXICO;ECUADOR;COLOMBIA;POLONIA;ESLOVENIA;LIBIA;INDIA;QATAR;ARABIA SAUDI',),
 ('MEXICO;POLONIA',),
 ('MEXICO;PORTUGAL;RUMANIA',),
 ('NIGERIA;FILIPINAS',),
 ('ORIENTE MEDIO;UCRANIA;RUSIA',),
 ('PAISES BAJOS;FRANCIA;ITALIA;UK;ALEMANIA',),
 ('PAKISTAN',),
 ('TURQUIA;ESLOVENIA;MEXICO;EEUU;CANADA;INDONESIA;AUSTRALIA;INDIA;COREA DEL SUR;CHINA',),
 ('PORTUGAL;MARRUECOS;TUNEZ;SUDAFRICA;ANGOLA;MOZAMBIQUE',),
 ('PORTUGAL;SUDAMERICA',),
 ('REPUBLICA CHECA;UK;MEXICO',),
 ('REPUBLICA DOMINICANA',),
 ('RUMANIA',),
 ('SERBIA;POLONIA;MEXICO;BRASIL;ALEMANIA;ISRAEL;INDIA;PORTUGAL;RUSIA;SUECIA',),
 ('SUDAMERICA',),
 ('SUDAMERICA;EEUU',),
 ('SUECIA;NORUEGA;ALEMANIA;EEUU;FRANCIA;UK;PAISES BAJOS',),
 ('SUIZA;FRANCIA;ALEMANIA',),
 ('TUNEZ;PORTUGAL;SUECIA;ALEMANIA;IRLANDA;BELGICA;FRANCIA;PAISES BAJOS;UK',),
 ('PORTUGAL;CHILE',),
 ('ALEMANIA;CANADA;EEUU;FRANCIA;PORTUGAL;UK',),
 ('ALEMANIA;CHINA;COREA DEL SUR;ESLOVAQUIA;EEUU;FRANCIA;HUNGRIA;INDIA;ITALIA;JAPON;MEXICO;POLONIA;PORTUGAL;RUSIA',),
 ('ALEMANIA;DINAMARCA;FRANCIA;PAISES BAJOS;UK;SUIZA',),
 ('ALEMANIA;EEUU;FRANCIA',),
 ('ALEMANIA;ESLOVAQUIA;FRANCIA;REPUBLICA CHECA',),
 ('ALEMANIA;FRANCIA;ARGENTINA;PAISES BAJOS;MEXICO;BELGICA',),
 ('ALEMANIA;FRANCIA;ISRAEL;ITALIA;POLONIA',),
 ('ALEMANIA;FRANCIA;UK;PAISES BAJOS;PORTUGAL;SUIZA',),
 ('ALEMANIA;INDONESIA',),
 ('ALEMANIA;PAISES BAJOS',),
 ('UE;JAPON',),
 ('AMERICA;ASIA;EUROPA;ARABIA SAUDI;CHILE;COLOMBIA;COSTA RICA;EMIRATOS ARABES UNIDOS;PANAMA;PERU;TURQUIA',),
 ('AMERICA;ASIA;UE',),
 ('AMERICA;EUROPA;UE',),
 ('ANDORRA;CHINA;ECUADOR;EEUU;GHANA;GIBRALTAR;HONG KONG',),
 ('ARABIA SAUDI;BRASIL;FRANCIA;INDIA;ITALIA;PAISES BAJOS;PORTUGAL',),
 ('ARABIA SAUDI;COLOMBIA;MEXICO',),
 ('ARABIA SAUDI;COREA DEL SUR;EEUU;HONG KONG;LITUANIA;PERU;PORTUGAL;RUMANIA;SINGAPUR;VIETNAM',),
 ('ARGELIA;CANADA;MEXICO;MONTENEGRO',),
 ('ARGENTINA',),
 ('ARGENTINA;BULGARIA;ECUADOR',),
 ('AMERICA;ASIA',),
 ('AFRICA;AMERICA;ASIA;EUROPA;UE;EEUU',),
 ('UE;MARRUECOS',),
 ('AFRICA;ASIA;EUROPA;CENTRO AMERICA;SUDAMERICA',),
 ('UE;PORTUGAL',),
 ('UE;SUECIA',),
 ('UE;UK',),
 ('UE;UK;TURQUIA',),
 ('UK',),
 ('UK;ALEMANIA;BELGICA;EEUU;IRLANDA;FRANCIA;ITALIA;EUROPA;JAPON',),
 ('UK;FRANCIA;ALEMANIA;EEUU;RUSIA;POLONIA',),
 ('ALEMANIA;CANADA;CHINA;FRANCIA;GRECIA;ITALIA;PORTUGAL;RUSIA',),
 ('AFRICA;ASIA;EUROPA;CENTRO AMERICA;SUDAMERICA;UE;AUSTRALIA;EEUU',),
 ('AFRICA;ASIA;EUROPA;NORTE AMERICA;CENTRO AMERICA;SUDAMERICA;ORIENTE MEDIO;AUSTRALIA;NUEVA ZELANDA',),
 ('AFRICA;CENTRO AMERICA;SUDAMERICA',),
 ('AFRICA;UE',),
 ('ALEMANIA;ANDORRA;ARABIA SAUDI;ARGENTINA;AUSTRALIA;AUSTRIA;BAHREIN;BELGICA;BRASIL;BULGARIA;CANADA;CHILE;COLOMBIA;COREA DEL SUR;COSTA RICA;DINAMARCA;ECUADOR;EGIPTO;EMIRATOS ARABES UNIDOS;ESLOVENIA;EEUU',),
 ('ALEMANIA;ARGENTINA;AUSTRIA;BELGICA;BRASIL;CANADA;CHINA;COREA DEL SUR;ECUADOR;EGIPTO;EEUU;FRANCIA;GRECIA;HONG KONG;ISRAEL;ITALIA;MARRUECOS;PAKISTAN;POLONIA;PORTUGAL;UK;REPUBLICA CHECA;RUMANIA;RUSIA;SUI',),
 ('ALEMANIA;ARGENTINA;AUSTRIA;BELGICA;CHINA;EMIRATOS ARABES UNIDOS;EEUU;FINLANDIA;FRANCIA;INDIA;ITALIA;JAPON;MALASIA;MEXICO;UK;SUECIA;SUIZA',),
 ('ALEMANIA;BELGICA;CANADA;COLOMBIA;EEUU;FINLANDIA;HUNGRIA;IRLANDA;ITALIA;JAPON;MEXICO;PAISES BAJOS;POLONIA;UK;SUECIA',),
 ('ALEMANIA;BELGICA;EEUU;IRLANDA;UK;SUIZA',),
 ('ALEMANIA;BELGICA;FRANCIA;ITALIA;REPUBLICA CHECA;SUECIA;SUIZA',),
 ('ALEMANIA;BELGICA;PAISES BAJOS',),
 ('AFRICA',),
 ('CHILE;COLOMBIA;COREA DEL SUR;EEUU',),
 ('CHILE;COLOMBIA;PERU',),
 ('CHILE;JAPON;REPUBLICA DOMINICANA;SUIZA',),
 ('CHINA;EEUU;SUIZA',),
 ('CHINA;FRANCIA;RUMANIA;RUSIA',),
 ('CHINA;UE',),
 ('CHINA;UK;EEUU',),
 ('COLOMBIA;EEUU;FRANCIA;POLONIA;PORTUGAL;RUSIA;SUDAFRICA',),
 ('COLOMBIA;MALASIA',),
 ('CUBA;MARRUECOS',),
 ('ARGENTINA;URUGUAY',),
 ('CUBA;VENEZUELA',),
 ('DINAMARCA',),
 ('DINAMARCA;FINLANDIA;POLONIA;MEXICO;PANAMA;EEUU;JAPON;CANADA;ALEMANIA;UK',),
 ('EEUU;ASIA;EUROPA;CENTRO AMERICA',),
 ('EEUU;BRASIL;MEXICO',),
 ('EEUU;MEXICO',),
 ('EEUU;RUSIA',),
 ('EEUU;UE',),
 ('EGIPTO;AMERICA;EUROPA',),
 ('EMIRATOS ARABES UNIDOS',),
 ('ESLOVAQUIA;MEXICO',),
 ('CUBA;MEXICO',),
 ('ASIA;EUROPA',),
 ('ASIA;EUROPA;AFRICA DEL NORTE;CENTRO AMERICA;SUDAMERICA;BRASIL;UK',),
 ('ASIA;EUROPA;BRASIL;EEUU',),
 ('ASIA;EUROPA;PAISES ARABES',),
 ('ASIA;FINLANDIA',),
 ('AUSTRALIA;EMIRATOS ARABES UNIDOS;MEXICO',),
 ('BELGICA;BRASIL;EEUU;JAPON;PAISES BAJOS;SUIZA',),
 ('BELGICA;EEUU;LUXEMBURGO;PAISES BAJOS;UK',),
 ('BELGICA;FRANCIA;ITALIA;UK',),
 ('BELGICA;FRANCIA;PORTUGAL',),
 ('CENTRO AMERICA;SUDAMERICA;UE;MEXICO',),
 ('BELGICA;HUNGRIA;REPUBLICA CHECA;SUIZA',),
 ('BELGICA;MEXICO;PANAMA',),
 ('BELGICA;PORTUGAL;RUMANIA;SUECIA',),
 ('BELGICA;VENEZUELA;UK',),
 ('BRASIL',),
 ('BRASIL;CAMERUN;COSTA DE MARFIL;JAMAICA;MEXICO',),
 ('BRASIL;CHILE;COLOMBIA;COSTA DE MARFIL;CUBA;ECUADOR;MEXICO;PERU;SEYCHELLES',),
 ('BRASIL;PERU;REPUBLICA CHECA;SUIZA;URUGUAY',),
 ('CANADA;COREA DEL SUR;FRANCIA;ITALIA',),
 ('CENTRO AMERICA;ARGENTINA;CHILE;COLOMBIA;ECUADOR;MEXICO;PERU',),
 ('CENTRO AMERICA;SUDAMERICA;ESCANDINAVIA;UE;MEXICO',),
 ('BELGICA;FRANCIA;SUIZA',)]

In [9]:
df_2022_col_comunes =  df_2022_col[df_2022_col['Código NIF'].isin(nif_comunes)]
df_2022_col_comunes.drop_duplicates(inplace=True)
df_2022_col_comunes.reset_index(inplace=True, drop=True)
df_2022_col_comunes.head()

,Nombre,Código NIF,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,...,Otros fondos propios\nmil EUR\n2022,Número empleados\n2022,Pasivo fijo\nmil EUR\n2022,Acreedores a L. P.\nmil EUR\n2022,Otros pasivos fijos\nmil EUR\n2022,Deudas financieras\nmil EUR\n2022,Acreedores comerciales\nmil EUR\n2022,Otros pasivos líquidos\nmil EUR\n2022,Inmovilizado\nmil EUR\n2022,Otros activos fijos\nmil EUR\n2022
0,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,A95758389,BILBAO,Vizcaya,ESPANA,3514,Comercio de energía eléctrica,2014-03-17 00:00:00,Exportador,NaN,...,1344809.0,887.0,73692.0,15522.0,58170.0,53247.0,210709.0,1414596.0,483676.0,315025.0
1,PAN AMERICAN ENERGY SL.,B88260203,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1997-09-29 00:00:00,Exportador,NaN,...,5777889.0,4939.0,4850463.0,1669228.0,3181235.0,369521.0,643621.0,714128.0,12748223.0,1732003.0
2,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,A95758371,BILBAO,Vizcaya,ESPANA,4611,Intermediarios del comercio de materias primas...,2014-03-17 00:00:00,Exportador,NaN,...,-772285.0,243.0,3751684.0,3736825.0,14859.0,117.0,190448.0,2028725.0,3301347.0,3255329.0
3,ALVEAN SUGAR SOCIEDAD LIMITADA.,B95773057,BILBAO,Vizcaya,ESPANA,4636,"Comercio al por mayor de azúcar, chocolate y c...",2014-07-17 00:00:00,Importador / Exportador,NaN,...,312183.0,38.0,4498.0,3878.0,620.0,284983.0,90500.0,112227.0,36129.0,31093.0
4,"IBERDROLA, SOCIEDAD ANONIMA",A48010615,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1901-07-19 00:00:00,Exportador,NaN,...,26909000.0,853.0,11434000.0,10099000.0,1335000.0,1170000.0,NaN,9058000.0,50042000.0,49653000.0

In [10]:
df_2020_comunes =  df_2020[df_2020['Código NIF'].isin(nif_comunes)]
df_2020_comunes.drop_duplicates(inplace=True)
df_2020_comunes.reset_index(inplace=True, drop=True)
df_2020_comunes.head()

,Nombre,Código NIF,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,...,Resultado Actividades Ordinarias\nmil EUR\n2020,Ingresos extraordinarios\nmil EUR\n2020,Gastos extraordinarios\nmil EUR\n2020,Resultados actividades extraordinarias\nmil EUR\n2020,Resultado del Ejercicio\nmil EUR\n2020,Materiales\nmil EUR\n2020,Gastos de personal\nmil EUR\n2020,Dotaciones para amortiz. de inmovil.\nmil EUR\n2020,Otros Conceptos de Explotación\nmil EUR\n2020,Gastos financieros y gastos asimilados\nmil EUR\n2020
0,PETROLEOS DEL NORTE SOCIEDAD ANONIMA,A48053243,MUSKIZ,Vizcaya,ESPANA,1920,Refino de petróleo,1968-01-01 00:00:00,Importador / Exportador,UE,...,-140086,NaN,NaN,NaN,-140086,3362167,93672,97175,-225893,2613
1,SIDENOR ACEROS ESPECIALES SLU,B01292903,BASAURI,Vizcaya,ESPANA,2410,"Fabricación de productos básicos de hierro, ac...",1999-11-18 00:00:00,Importador / Exportador,UE,...,-39853,NaN,NaN,NaN,-39853,244284,90310,22212,-136437,3684
2,BRIDGESTONE HISPANIA MANUFACTURING SOCIEDAD LI...,B95922688,BASAURI,Vizcaya,ESPANA,2211,Fabricación de neumáticos y cámaras de caucho;...,2018-05-31 00:00:00,Exportador,NaN,...,1792,NaN,NaN,NaN,1792,282346,153205,43388,-76136,548
3,COMPAÑIA NORTEÑA DE BEBIDAS GASEOSAS NORBEGA S...,B48023030,GALDAKAO,Vizcaya,ESPANA,1107,Fabricación de bebidas no alcohólicas; producc...,1955-07-06 00:00:00,Importador,UE,...,18209.709,NaN,NaN,NaN,18209.709,608261.681,19561.039,14293.748,-61482.757,NaN
4,BAHIA DE BIZKAIA ELECTRICIDAD SOCIEDAD LIMITADA,B48969877,ZIERBENA,Vizcaya,ESPANA,3519,Producción de energía eléctrica de otros tipos,1998-04-30 00:00:00,Importador,NaN,...,1146.572,NaN,NaN,NaN,1146.572,132891.325,3818.954,23742.362,-15559.192,64.766

In [11]:
df_2022_comunes =  df_2022[df_2022['Código NIF'].isin(nif_comunes)]
df_2022_comunes.reset_index(inplace=True, drop=True)
df_2022_comunes.drop_duplicates(inplace=True)
df_2022_comunes.reset_index(inplace=True, drop=True)
df_2022_comunes.head()

,Nombre,Código NIF,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,...,Resultado Actividades Ordinarias\nmil EUR\n2022,Ingresos extraordinarios\nmil EUR\n2022,Gastos extraordinarios\nmil EUR\n2022,Resultados actividades extraordinarias\nmil EUR\n2022,Resultado del Ejercicio\nmil EUR\n2022,Materiales\nmil EUR\n2022,Gastos de personal\nmil EUR\n2022,Dotaciones para amortiz. de inmovil.\nmil EUR\n2022,Otros Conceptos de Explotación\nmil EUR\n2022,Gastos financieros y gastos asimilados\nmil EUR\n2022
0,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,A95758389,BILBAO,Vizcaya,ESPANA,3514,Comercio de energía eléctrica,2014-03-17 00:00:00,Exportador,NaN,...,627609.0,NaN,NaN,NaN,627609.0,12868251.0,77500.0,9612.0,-741812.0,1502.0
1,PAN AMERICAN ENERGY SL.,B88260203,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1997-09-29 00:00:00,Exportador,NaN,...,477940.0,NaN,NaN,NaN,477940.0,1134150.0,489580.0,805893.0,-2104010.0,488731.0
2,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,A95758371,BILBAO,Vizcaya,ESPANA,4611,Intermediarios del comercio de materias primas...,2014-03-17 00:00:00,Exportador,NaN,...,923275.0,NaN,NaN,NaN,923275.0,4046923.0,26987.0,2654.0,635929.0,9620.0
3,ALVEAN SUGAR SOCIEDAD LIMITADA.,B95773057,BILBAO,Vizcaya,ESPANA,4636,"Comercio al por mayor de azúcar, chocolate y c...",2014-07-17 00:00:00,Importador / Exportador,NaN,...,67407.0,NaN,NaN,NaN,67407.0,3874052.0,20475.0,1945.0,-13387.0,12819.0
4,"IBERDROLA, SOCIEDAD ANONIMA",A48010615,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1901-07-19 00:00:00,Exportador,NaN,...,2840000.0,NaN,NaN,NaN,2840000.0,NaN,166000.0,72000.0,347000.0,322000.0

In [12]:
df_2022_col_comunes.columns

Index(['Nombre', 'Código NIF', 'Localidad', 'Provincia', 'País',
       'Código primario CNAE 2009', 'Literal código CNAE 2009 primario',
       'Fecha constitución', 'Importador / Exportador', 'Países importación',
       'Países exportación', 'Resultado del Ejercicio\nmil EUR\n2022',
       'Total activo\nmil EUR\n2022', 'Ingresos de explotación\nmil EUR\n2022',
       'Activo circulante\nmil EUR\n2022', 'Pasivo líquido\nmil EUR\n2022',
       'Resultado Explotación\nmil EUR\n2022',
       'Otros activos líquidos\nmil EUR\n2022',
       'Capital suscrito\nmil EUR\n2022',
       'Otros fondos propios\nmil EUR\n2022', 'Número empleados\n2022',
       'Pasivo fijo\nmil EUR\n2022', 'Acreedores a L. P.\nmil EUR\n2022',
       'Otros pasivos fijos\nmil EUR\n2022',
       'Deudas financieras\nmil EUR\n2022',
       'Acreedores comerciales\nmil EUR\n2022',
       'Otros pasivos líquidos\nmil EUR\n2022', 'Inmovilizado\nmil EUR\n2022',
       'Otros activos fijos\nmil EUR\n2022'],
      dtype='object')

In [13]:
df_2020_comunes.replace('n.d.',np.nan,inplace=True)
df_2022_comunes.replace('n.d.',np.nan,inplace=True)
df_2022_col_comunes.replace('n.d.',np.nan,inplace=True)

In [14]:
print(df_2022_col_comunes.isna().sum())

Nombre                                        0
Código NIF                                    0
Localidad                                     1
Provincia                                     0
País                                          0
Código primario CNAE 2009                     0
Literal código CNAE 2009 primario             0
Fecha constitución                           14
Importador / Exportador                       0
Países importación                        37019
Países exportación                        38496
Resultado del Ejercicio\nmil EUR\n2022    10253
Total activo\nmil EUR\n2022               10106
Ingresos de explotación\nmil EUR\n2022    11011
Activo circulante\nmil EUR\n2022          10121
Pasivo líquido\nmil EUR\n2022             10341
Resultado Explotación\nmil EUR\n2022      10217
Otros activos líquidos\nmil EUR\n2022     10509
Capital suscrito\nmil EUR\n2022           10107
Otros fondos propios\nmil EUR\n2022       10134
Número empleados\n2022                    16283
Pasivo fijo\nmil EUR\n2022                20951
Acreedores a L. P.\nmil EUR\n2022         22311
Otros pasivos fijos\nmil EUR\n2022        10106
Deudas financieras\nmil EUR\n2022         29308
Acreedores comerciales\nmil EUR\n2022     18657
Otros pasivos líquidos\nmil EUR\n2022     10573
Inmovilizado\nmil EUR\n2022               11886
Otros activos fijos\nmil EUR\n2022        18680
dtype: int64

In [15]:
df_2022_col_comunes=df_2022_col_comunes[df_2022_col_comunes['Total activo\nmil EUR\n2022'].notna()]
df_2022_col_comunes.isna().sum()

Nombre                                        0
Código NIF                                    0
Localidad                                     0
Provincia                                     0
País                                          0
Código primario CNAE 2009                     0
Literal código CNAE 2009 primario             0
Fecha constitución                            5
Importador / Exportador                       0
Países importación                        27301
Países exportación                        28557
Resultado del Ejercicio\nmil EUR\n2022      147
Total activo\nmil EUR\n2022                   0
Ingresos de explotación\nmil EUR\n2022      905
Activo circulante\nmil EUR\n2022             15
Pasivo líquido\nmil EUR\n2022               235
Resultado Explotación\nmil EUR\n2022        111
Otros activos líquidos\nmil EUR\n2022       403
Capital suscrito\nmil EUR\n2022               1
Otros fondos propios\nmil EUR\n2022          28
Número empleados\n2022                     6177
Pasivo fijo\nmil EUR\n2022                10845
Acreedores a L. P.\nmil EUR\n2022         12205
Otros pasivos fijos\nmil EUR\n2022            0
Deudas financieras\nmil EUR\n2022         19202
Acreedores comerciales\nmil EUR\n2022      8551
Otros pasivos líquidos\nmil EUR\n2022       467
Inmovilizado\nmil EUR\n2022                1780
Otros activos fijos\nmil EUR\n2022         8574
dtype: int64

In [16]:
df_2020_2022=df_2022_col_comunes.merge(df_2020_ingexp, on='Código NIF', how='left')

### PROCESAMIENTO

In [17]:
#Factorizar la columna fecha de constitución
df_2020_2022['Fecha constitución'] = pd.to_datetime(df_2020_2022['Fecha constitución'])
df_2020_2022['Empresa reciente'] = df_2020_2022['Fecha constitución'].apply(lambda x: False if x.year < 2019 else True)

In [18]:
#Indice
# df_2020_2022.set_index("Código NIF", inplace=True)
# df_2020_2022.index.name=None

# Mapeo de Sectores

In [19]:
# Función para mapear sectores (1)

def mapeo_sectores(cnae):
    if cnae < 500:
        return "Agricultura"
    elif cnae < 1000:
        return "Extraccion"
    elif cnae < 3500:
        return "Industria"
    elif cnae < 3599:
        return "Energia"
    elif cnae < 4000:
        return "Agua"
    elif cnae < 4400:
        return "Construccion"
    elif cnae < 4800:
        return "Comercio"
    elif cnae < 5500:
        return "Transporte"
    elif cnae < 5800:
        return "Hosteleria"
    elif cnae < 6400:
        return "Comunicaciones"
    elif cnae < 6800:
        return "Financieras"
    elif cnae < 6900:
        return "Inmobiliarias"
    elif cnae < 7700:
        return "Actividades Profesionales"
    elif cnae < 8300:
        return "Actividades Administrativas"
    elif cnae < 8500:
        return "Administracion Publica y Defensa"
    elif cnae < 8600:
        return "Educacion"
    elif cnae < 9000:
        return "Actividades Sanitarias"
    elif cnae < 9400:
        return "Actividades Artisticas"
    else:
        return "Otros"
    

df_2020_2022["Mapeo Sectores"] = df_2020_2022["Código primario CNAE 2009"].apply(mapeo_sectores)

In [20]:
df_2020_2022["Mapeo Sectores"].value_counts()

Mapeo Sectores
Comercio                            6031
Industria                           4172
Construccion                        3790
Actividades Profesionales           3369
Inmobiliarias                       2792
Hosteleria                          1693
Transporte                          1221
Financieras                         1175
Actividades Administrativas         1148
Comunicaciones                       963
Actividades Sanitarias               857
Actividades Artisticas               574
Otros                                458
Educacion                            434
Agricultura                          291
Energia                              242
Agua                                  98
Extraccion                            37
Administracion Publica y Defensa      13
Name: count, dtype: int64

In [21]:
def mapeo_sectores(cnae):
    if cnae < 500:
        return "Otros" # Agricultura
    elif cnae < 1000:
        return "Otros" # Extraccion
    elif cnae < 3500:
        return "Industria"
    elif cnae < 3599:
        return "Otros" # Energia
    elif cnae < 4000:
        return "Otros" # Agua
    elif cnae < 4400:
        return "Construccion e Inmobilarias" # Construccion
    elif cnae < 4800:
        return "Comercio"
    elif cnae < 5500:
        return "Transporte"
    elif cnae < 5800:
        return "Hosteleria"
    elif cnae < 6400:
        return "Otros" # Comunicaciones
    elif cnae < 6800:
        return "Actividades Profesionales y Financieras" # Financieras
    elif cnae < 6900:
        return "Construccion e Inmobilarias" # Inmobiliarias
    elif cnae < 7700:
        return "Actividades Profesionales y Financieras" # Actividades Profesionales
    elif cnae < 8300:
        return "Otros" # Actividades Administrativas
    elif cnae < 8500:
        return "Otros" # Administracion Publica y Defensa
    elif cnae < 8600:
        return "Otros" # Educacion
    elif cnae < 9000:
        return "Otros" # Actividades Sanitarias
    elif cnae < 9400:
        return "Otros" # Actividades Artisticas
    else:
        return "Otros"
    
df_2020_2022["Sectores"] = df_2020_2022["Código primario CNAE 2009"].apply(mapeo_sectores)
df_2020_2022["Sectores"].value_counts()

Sectores
Construccion e Inmobilarias                6582
Comercio                                   6031
Otros                                      5115
Actividades Profesionales y Financieras    4544
Industria                                  4172
Hosteleria                                 1693
Transporte                                 1221
Name: count, dtype: int64

In [22]:
df_2020_2022 = pd.get_dummies(df_2020_2022,columns=["Sectores","Provincia"])

In [23]:
df_2020_2022 = df_2020_2022.drop(columns=["Sectores_Otros"])

In [24]:
df_2020_2022.drop(columns=["Código primario CNAE 2009","Literal código CNAE 2009 primario"],inplace=True)

In [25]:
df_2020_2022

,Nombre,Código NIF,Localidad,País,Fecha constitución,Importador / Exportador,Países importación,Países exportación,Resultado del Ejercicio\nmil EUR\n2022,Total activo\nmil EUR\n2022,...,Mapeo Sectores,Sectores_Actividades Profesionales y Financieras,Sectores_Comercio,Sectores_Construccion e Inmobilarias,Sectores_Hosteleria,Sectores_Industria,Sectores_Transporte,Provincia_Alava,Provincia_Guipuzcoa,Provincia_Vizcaya
0,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,A95758389,BILBAO,ESPANA,2014-03-17,Exportador,NaN,UE,6.276090e+05,3.252348e+06,...,Energia,False,False,False,False,False,False,False,False,True
1,PAN AMERICAN ENERGY SL.,B88260203,BILBAO,ESPANA,1997-09-29,Exportador,NaN,ARGENTINA,4.779400e+05,1.444866e+07,...,Financieras,True,False,False,False,False,False,False,False,True
2,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,A95758371,BILBAO,ESPANA,2014-03-17,Exportador,NaN,UE,9.232750e+05,7.184141e+06,...,Comercio,False,True,False,False,False,False,False,False,True
3,ALVEAN SUGAR SOCIEDAD LIMITADA.,B95773057,BILBAO,ESPANA,2014-07-17,Importador / Exportador,NaN,NaN,6.740700e+04,8.352480e+05,...,Comercio,False,True,False,False,False,False,False,False,True
4,"IBERDROLA, SOCIEDAD ANONIMA",A48010615,BILBAO,ESPANA,1901-07-19,Exportador,NaN,UE,2.840000e+06,5.334300e+07,...,Financieras,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29353,UZIRALO SA.,A01488865,VITORIA-GASTEIZ,ESPANA,2011-07-21,Importador,UE,NaN,-3.192800e-01,1.408832e+03,...,Actividades Profesionales,True,False,False,False,False,False,True,False,False
29354,VAB GESTION EMPRESARIAL SL,B01378199,VITORIA-GASTEIZ,ESPANA,2004-12-16,No realiza actividad exterior,NaN,NaN,-1.192249e+02,5.701230e+02,...,Financieras,True,False,False,False,False,False,True,False,False
29355,VALGAÑON GESTION SL,B01474865,VITORIA-GASTEIZ,ESPANA,2010-07-02,No realiza actividad exterior,NaN,NaN,1.484681e+02,6.617062e+02,...,Financieras,True,False,False,False,False,False,True,False,False
29356,VENALTA NAVIERA SL.,B01572825,LAPUEBLA DE LABARCA,ESPANA,2018-11-28,No realiza actividad exterior,NaN,NaN,-2.011970e+01,4.559496e+02,...,Construccion,False,False,True,False,False,False,True,False,False
29357,WAREBER INVERSIONES SL,B86089067,VITORIA-GASTEIZ,ESPANA,2010-12-01,No realiza actividad exterior,NaN,NaN,-1.554517e+01,1.027906e+02,...,Otros,False,False,False,False,False,False,True,False,False

# Comercio en Euros o no

In [26]:
df_2020_2022["Importador / Exportador"].value_counts()

Importador / Exportador
No realiza actividad exterior    24988
Importador / Exportador           1950
Importador                        1731
Exportador                         689
Name: count, dtype: int64

In [27]:
list(set(list(set((";".join(list(df_2020_2022["Países exportación"].value_counts().index))).split(";")))+ list(set((";".join(list(df_2020_2022["Países importación"].value_counts().index))).split(";")))))

['SENEGAL',
 'ISRAEL',
 'MARRUECOS',
 'SUIZA',
 'PERU',
 'TURQUIA',
 'RUSIA',
 'ANGOLA',
 'CAMERUN',
 'AFRICA DEL NORTE',
 'PAKISTAN',
 'COLOMBIA',
 'NUEVA ZELANDA',
 'VIETNAM',
 'REPUBLICA CHECA',
 'IRLANDA',
 'VENEZUELA',
 'CENTRO AMERICA',
 'UE',
 'MOZAMBIQUE',
 'ASIA',
 'REPUBLICA DOMINICANA',
 'JAPON',
 'SUECIA',
 'EUROPA',
 'CANADA',
 'SEYCHELLES',
 'CUBA',
 'MALASIA',
 'EGIPTO',
 'PANAMA',
 'AMERICA',
 'ESLOVENIA',
 'PORTUGAL',
 'ALEMANIA',
 'HONG KONG',
 'PAISES ARABES',
 'ESCANDINAVIA',
 'PAISES BAJOS',
 'MEXICO',
 'COSTA RICA',
 'ITALIA',
 'ARABIA SAUDI',
 'POLONIA',
 'SUDAFRICA',
 'HUNGRIA',
 'INDONESIA',
 'LUXEMBURGO',
 'GHANA',
 'SUDAMERICA',
 'SERBIA',
 'MONTENEGRO',
 'AUSTRIA',
 'ANDORRA',
 'COREA DEL SUR',
 'COSTA DE MARFIL',
 'BELGICA',
 'ARGELIA',
 'BRASIL',
 'TAILANDIA',
 'ORIENTE MEDIO',
 'LITUANIA',
 'FILIPINAS',
 'GROENLANDIA',
 'INDIA',
 'CHILE',
 'SINGAPUR',
 'MAURITANIA',
 'ARGENTINA',
 'EEUU',
 'AFRICA',
 'FRANCIA',
 'TAIWAN',
 'EMIRATOS ARABES UNIDOS',
 'GRECIA',
 'UK',
 'URUGUAY',
 'NIGERIA',
 'ECUADOR',
 'RUMANIA',
 'CHINA',
 'ESLOVAQUIA',
 'DINAMARCA',
 'BULGARIA',
 'AUSTRALIA',
 'FINLANDIA',
 'NORTE AMERICA',
 'GIBRALTAR',
 'OCEANIA',
 'TUNEZ',
 'NORUEGA',
 'JAMAICA']

In [28]:
no_euro = ["ESLOVAQUIA",
 'ARGENTINA',
 'FILIPINAS',
 'COSTA DE MARFIL',
 'AUSTRALIA',
 'ISRAEL',
 'URUGUAY',
 'CHINA',
 'SUECIA',
 'ORIENTE MEDIO',
 'SUDAMERICA',
 'CANADA',
 'MAURITANIA',
 'NORTE AMERICA',
 'CUBA',
 'DINAMARCA',
 'ARGELIA',
 'NIGERIA',
 'GHANA',
 'VENEZUELA',
 'SUI',
 'ECUADOR',
 'SINGAPUR',
 'NUEVA ZELANDA',
 'GROENLANDIA',
 'ARABIA SAUDI',
 'POLONIA',
 'SUIZA',
 'PAISES ARABES',
 'PAKISTAN',
 'HUNGRIA',
 'BAHREIN',
 'VIETNAM',
 'AFRICA DEL NORTE',
 'MOZAMBIQUE',
 'QATAR',
 'COREA DEL SUR',
 'TAILANDIA',
 'PERU',
 'MALI',
 'MEXICO',
 'PANAMA',
 'MALASIA',
 'UK',
 'RUMANIA',
 'OCEANIA',
 'EMIRATOS ARABES UNIDOS',
 'ASIA',
 'REPUBLICA CHECA',
 'AFRICA',
 'LIBIA',
 'BULGARIA',
 'AMERICA',
 'CHILE',
 'CAMERUN',
 'SERBIA',
 'IRAN',
 'TUNEZ',
 'COSTA RICA',
 'KAZAJSTAN',
 'BRASIL',
 'REPUBLICA DOMINICANA',
 'HONG KONG',
 'SENEGAL',
 'INDONESIA',
 'ANGOLA',
 'CENTRO AMERICA',
 'EGIPTO',
 'MARRUECOS',
 'EEUU',
 'RUSIA',
 'JAPON',
 'COLOMBIA',
 'TURQUIA',
 'UCRANIA',
 'SEYCHELLES',
 'INDIA',
 'SUDAFRICA']

In [29]:
def pais(lista_paises):
    if type(lista_paises)==float:
        return np.nan
    lista_paises_sp = lista_paises.split(";")
    for pais in no_euro:
        if pais in lista_paises_sp:
            return True
    else:
        return False

exp = df_2020_2022["Países exportación"].apply(pais)
imp = df_2020_2022["Países importación"].apply(pais)

In [30]:
moneda = []
for i in range(len(exp)):
    if (exp[i] == True) or (imp[i]==True):
        moneda.append(True)
    else:
        moneda.append(False)

In [31]:
df_2020_2022["Moneda no euro"] = moneda

In [32]:
df_2020_2022["Moneda no euro"].isna().sum() - df_2020_2022["Importador / Exportador"].value_counts()[0]

-24988

In [33]:
df_2020_2022[["Países importación","Países exportación","Moneda no euro"]].head(20)

,Países importación,Países exportación,Moneda no euro
0,NaN,UE,False
1,NaN,ARGENTINA,True
2,NaN,UE,False
3,NaN,NaN,False
4,NaN,UE,False
5,NaN,NaN,False
6,NaN,NaN,False
7,NaN,UE,False
8,NaN,NaN,False
9,UE,NaN,False
10,NaN,UE,False
11,NaN,NaN,False
12,NaN,NaN,False
13,NaN,NaN,False
14,NaN,CENTRO AMERICA;SUDAMERICA,True
15,NaN,NaN,False
16,NaN,NaN,False
17,NaN,AMERICA;ASIA;EUROPA;ARABIA SAUDI;CHILE;COLOMBI...,True
18,NaN,NaN,False
19,NaN,NaN,False

### RATIOS

In [34]:
df_2020_2022['Otros fondos propios\nmil EUR\n2022'] = df_2020_2022['Otros fondos propios\nmil EUR\n2022'].fillna(0)
df_2020_2022['Pasivo Total']=df_2020_2022['Total activo\nmil EUR\n2022']-df_2020_2022['Capital suscrito\nmil EUR\n2022']-df_2020_2022['Otros fondos propios\nmil EUR\n2022']
columnas_sumar=['Pasivo fijo\nmil EUR\n2022', 'Pasivo líquido\nmil EUR\n2022']
df_2020_2022['Pasivo Total'] = df_2020_2022['Pasivo Total'].fillna(df_2020_2022[columnas_sumar].sum(axis=1))
df_2020_2022.loc[df_2020_2022['Pasivo Total'] < 0, 'Pasivo Total'] = 0
df_2020_2022['Endeudamiento']=df_2020_2022['Pasivo Total']/df_2020_2022['Total activo\nmil EUR\n2022']

In [35]:
columnas_sumar2=['Inmovilizado\nmil EUR\n2022', 'Otros activos fijos\nmil EUR\n2022']
df_2020_2022['Activo circulante\nmil EUR\n2022']=df_2020_2022['Activo circulante\nmil EUR\n2022'].fillna(df_2020_2022['Total activo\nmil EUR\n2022'] - df_2020_2022[columnas_sumar2].sum(axis=1))
df_2020_2022['Pasivo fijo\nmil EUR\n2022']=df_2020_2022['Pasivo fijo\nmil EUR\n2022'].fillna(0)
df_2020_2022['Pasivo líquido\nmil EUR\n2022'] = df_2020_2022['Pasivo líquido\nmil EUR\n2022'].fillna(df_2020_2022['Pasivo Total'] - df_2020_2022['Pasivo fijo\nmil EUR\n2022'])
df_2020_2022['Solvencia']=df_2020_2022['Activo circulante\nmil EUR\n2022']/df_2020_2022['Pasivo líquido\nmil EUR\n2022']
df_2020_2022.loc[df_2020_2022['Solvencia'] < 0, 'Solvencia'] = 0

In [36]:
df_2020_2022['Evolucion_ventas_total']=df_2020_2022['Ingresos de explotación\nmil EUR\n2022']-df_2020_2022['Ingresos de explotación\nmil EUR\n2020']
df_2020_2022['Evolucion_ventas']=df_2020_2022['Evolucion_ventas_total']/df_2020_2022['Ingresos de explotación\nmil EUR\n2020']
df_2020_2022['Evolucion_ventas'] = df_2020_2022['Evolucion_ventas'].fillna(0)

In [37]:
df_2020_2022['Resultado del Ejercicio\nmil EUR\n2022'] = df_2020_2022['Resultado del Ejercicio\nmil EUR\n2022'].fillna(0)
df_2020_2022['ROA']=df_2020_2022['Resultado del Ejercicio\nmil EUR\n2022']/df_2020_2022['Total activo\nmil EUR\n2022']

### Categorizar ratios

Solvencia: 
- < 0.7 -> 0
- 0.7 - 1 -> 1
- 1 - 1.5 -> 2
-  1.5 < -> 3

In [38]:
def solv(val):
    if val < 0.7:
        return 1
    elif val < 1.2:
        return 2
    elif val < 1.7:
        return 3
    elif val < 3:
        return 4
    else:
        return 5
    
df_2020_2022["Solvencia"] = df_2020_2022["Solvencia"].apply(solv)

In [39]:
df_2020_2022["Solvencia"].value_counts()

Solvencia
5    9762
4    6532
3    4571
2    4340
1    4153
Name: count, dtype: int64

Endeudamiento:
- 3 < -> 0
- 1 - 3 -> 1
- 0.7 - 1 -> 2
- 0.5 - 0.7 -> 3
- 0 - 0.5 -> 4

In [40]:
def endeud(val):
    if val < 0.3:
        return 5
    elif val < 0.6:
        return 4
    elif val < 0.9:
        return 3
    elif val < 1.5:
        return 2
    else:
        return 1
    
df_2020_2022["Endeudamiento_cate"] = df_2020_2022["Endeudamiento"].apply(endeud)

In [41]:
df_2020_2022["Endeudamiento"].value_counts()

Endeudamiento
0.000000    107
0.869565      2
0.487633      1
0.679847      1
0.155265      1
           ...
0.754851      1
0.226264      1
0.788294      1
0.005709      1
0.875342      1
Name: count, Length: 29251, dtype: int64

ROA:
- < -0.05 -> 0
- -0.05 - 0 -> 1
- 0 - 0.05 -> 2
- 0.05 - 0.25 -> 3
- 0.25 < -> 4

In [42]:
q1 = np.percentile(df_2020_2022["ROA"], 25)
q2 = np.percentile(df_2020_2022["ROA"], 50)
q3 = np.percentile(df_2020_2022["ROA"], 75)
def roa(val):
    if val < -0.05:
        return 1
    elif val < 0:
        return 2
    elif val < 0.05:
        return 3
    elif val < 0.25:
        return 4
    else:
        return 5
    
df_2020_2022["ROA_cate"] = df_2020_2022["ROA"].apply(roa)

Evolucion ventas:

- < -0.2 -> 0
- -0.2 - 0 -> 1
- 0 -> 2
- 0 - 0.4 -> 3
- 0.4 < -> 4

In [43]:
def evol(val):
    if val < -0.2:
        return 1
    elif val < 0:
        return 2
    elif val == 0:
        return 3
    elif val < 0.4:
        return 4
    else:
        return 5

In [44]:
df_2020_2022["Evolucion_ventas_cate"] = df_2020_2022["Evolucion_ventas"].apply(evol)

In [45]:
df_2020_2022["Evolucion_ventas"].value_counts()

Evolucion_ventas
 0.000000    5608
 0.200000       6
 0.846823       6
-0.500000       4
 1.000000       4
             ...
 0.141675       1
 0.133187       1
 4.221607       1
 0.562622       1
 0.309701       1
Name: count, Length: 23715, dtype: int64

In [46]:
df_2020_2022.columns

Index(['Nombre', 'Código NIF', 'Localidad', 'País', 'Fecha constitución',
       'Importador / Exportador', 'Países importación', 'Países exportación',
       'Resultado del Ejercicio\nmil EUR\n2022', 'Total activo\nmil EUR\n2022',
       'Ingresos de explotación\nmil EUR\n2022',
       'Activo circulante\nmil EUR\n2022', 'Pasivo líquido\nmil EUR\n2022',
       'Resultado Explotación\nmil EUR\n2022',
       'Otros activos líquidos\nmil EUR\n2022',
       'Capital suscrito\nmil EUR\n2022',
       'Otros fondos propios\nmil EUR\n2022', 'Número empleados\n2022',
       'Pasivo fijo\nmil EUR\n2022', 'Acreedores a L. P.\nmil EUR\n2022',
       'Otros pasivos fijos\nmil EUR\n2022',
       'Deudas financieras\nmil EUR\n2022',
       'Acreedores comerciales\nmil EUR\n2022',
       'Otros pasivos líquidos\nmil EUR\n2022', 'Inmovilizado\nmil EUR\n2022',
       'Otros activos fijos\nmil EUR\n2022',
       'Ingresos de explotación\nmil EUR\n2020', 'Empresa reciente',
       'Mapeo Sectores', 'Sectores_Actividades Profesionales y Financieras',
       'Sectores_Comercio', 'Sectores_Construccion e Inmobilarias',
       'Sectores_Hosteleria', 'Sectores_Industria', 'Sectores_Transporte',
       'Provincia_Alava', 'Provincia_Guipuzcoa', 'Provincia_Vizcaya',
       'Moneda no euro', 'Pasivo Total', 'Endeudamiento', 'Solvencia',
       'Evolucion_ventas_total', 'Evolucion_ventas', 'ROA',
       'Endeudamiento_cate', 'ROA_cate', 'Evolucion_ventas_cate'],
      dtype='object')

In [48]:
df_procesado=df_2020_2022[["Código NIF", 'Provincia_Alava','Provincia_Guipuzcoa', 'Total activo\nmil EUR\n2022',
       'Empresa reciente', 'Sectores_Actividades Profesionales y Financieras',
       'Sectores_Comercio', 'Sectores_Construccion e Inmobilarias',
       'Sectores_Hosteleria', 'Sectores_Industria',
       'Sectores_Transporte', 'Moneda no euro',
       'Endeudamiento', 'Solvencia', 'Evolucion_ventas', 'ROA']]

In [49]:
df_procesado_cate=df_2020_2022[["Código NIF", 'Provincia_Alava','Provincia_Guipuzcoa', 'Total activo\nmil EUR\n2022',
       'Empresa reciente', 'Sectores_Actividades Profesionales y Financieras',
       'Sectores_Comercio', 'Sectores_Construccion e Inmobilarias',
       'Sectores_Hosteleria', 'Sectores_Industria',
       'Sectores_Transporte', 'Moneda no euro',
       'Endeudamiento_cate', 'Solvencia', 'Evolucion_ventas_cate', 'ROA_cate']]

In [50]:
df_procesado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29358 entries, 0 to 29357
Data columns (total 16 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Código NIF                                        29358 non-null  object
 1   Provincia_Alava                                   29358 non-null  bool
 2   Provincia_Guipuzcoa                               29358 non-null  bool
 3   Total activo
mil EUR
2022                         29358 non-null  float64
 4   Empresa reciente                                  29358 non-null  bool
 5   Sectores_Actividades Profesionales y Financieras  29358 non-null  bool
 6   Sectores_Comercio                                 29358 non-null  bool
 7   Sectores_Construccion e Inmobilarias              29358 non-null  bool
 8   Sectores_Hosteleria                               29358 non-null  bool
 9   Sectores_Industria                                29358 non-null  bool
 10  Sectores_Transporte                               29358 non-null  bool
 11  Moneda no euro                                    29358 non-null  bool
 12  Endeudamiento                                     29358 non-null  float64
 13  Solvencia                                         29358 non-null  int64
 14  Evolucion_ventas                                  29358 non-null  float64
 15  ROA                                               29358 non-null  float64
dtypes: bool(10), float64(4), int64(1), object(1)
memory usage: 1.6+ MB

In [51]:
df_procesado.head()

,Código NIF,Provincia_Alava,Provincia_Guipuzcoa,Total activo\nmil EUR\n2022,Empresa reciente,Sectores_Actividades Profesionales y Financieras,Sectores_Comercio,Sectores_Construccion e Inmobilarias,Sectores_Hosteleria,Sectores_Industria,Sectores_Transporte,Moneda no euro,Endeudamiento,Solvencia,Evolucion_ventas,ROA
0,A95758389,False,False,3252348.0,False,False,False,False,False,False,False,False,0.538763,3,0.964045,0.192971
1,B88260203,False,False,14448655.0,False,True,False,False,False,False,False,True,0.455249,2,0.972882,0.033079
2,A95758371,False,False,7184141.0,False,False,True,False,False,False,False,False,0.831133,4,-0.125041,0.128516
3,B95773057,False,False,835248.0,False,False,True,False,False,False,False,False,0.589296,3,0.248713,0.080703
4,A48010615,False,False,53343000.0,False,True,False,False,False,False,False,False,0.406089,1,0.061806,0.053240

In [52]:
df_procesado.to_excel('df_procesado.xlsx', index=False)
df_procesado_cate.to_excel('df_procesado_cate.xlsx', index=False)
df_empresas=df_2020_2022[["Código NIF", 'Nombre']]
df_empresas.to_excel('df_empresas.xlsx', index=False)

- ver cuales son las variables que nos interesan y cuales no para eliminarlas, correlacion haciendo dropna?
- ver las filas que tienen casi todo na por si eliminamos las filas y nos quedamos con las variables
- interpolacion en alguna de las columnas?
- pensar que nuevas varibales nos pueden valer.
-pensar los modelos que vamos a utilizar para el clustering, k-means, clustering jerarquico...
- organizar los 4 puntos del trabajo(4 archivos diferentes para cada paso):
1. Iniciar el proyecto requiere primero comprender el significado de las
variables presentes en las bases de datos y realizar una depuración de
estos datos para que sean aptos para trabajar con ellos.

2. Seguidamente, se procederá al cálculo de los ratios financieros.

3. Luego, basándose en los cálculos anteriores, se segmentarán las
empresas mediante el uso de algoritmos de clustering.

4. Tras segmentar las empresas en diferentes grupos, estos se deberán
analizar individualmente para poder seleccionar los productos financieros
que mejor se adecuan a cada tipo de empresa. Se realizará una
investigación y análisis detallado de una amplia gama de productos
financieros disponibles en el mercado. Esto incluirá, pero no se limitará a,
préstamos, líneas de crédito, opciones de inversión, y seguros
empresariales. Esta investigación deberá utilizar como punto de partida al
cliente principal, Inetum, y valorar sus posibilidades a la hora de elegir los
productos financieros.


ESTA ES LA DISTRIBUCIÓN QUE SE PROPONE:
1. Procesamiento
2. Análisis exploratorio
3. Selección del modelo
4. Optimización del modelo
5. Resultados (visualización)

- Cada cosa en un cuaderno diferente
- De cada cuaderno sale un nuevo fichero de datos
- El nuevo fichero de datos se utilizará en el siguiente cuaderno
- Es un proceso secuencial