In [1]:
import pandas as pd
import numpy as np

In [2]:
df_2020= pd.read_excel('2020.xlsx')
df_2021= pd.read_excel('2021.xlsx')
df_2022= pd.read_excel('2022.xlsx')

In [3]:
df_2020.columns

Index(['Nombre', 'Código NIF', 'Localidad', 'Provincia', 'País',
       'Código primario CNAE 2009', 'Literal código CNAE 2009 primario',
       'Fecha constitución', 'Importador / Exportador', 'Países importación',
       'Países exportación', 'Otros activos líquidos\nmil EUR\n2020',
       'Inmovilizado\nmil EUR\n2020', 'Inmovilizado inmaterial\nmil EUR\n2020',
       'Inmovilizado material\nmil EUR\n2020',
       'Otros activos fijos\nmil EUR\n2020',
       'Activo circulante\nmil EUR\n2020', 'Existencias\nmil EUR\n2020',
       'Deudores\nmil EUR\n2020', 'Tesorería\nmil EUR\n2020',
       'Total activo\nmil EUR\n2020', 'Capital suscrito\nmil EUR\n2020',
       'Otros fondos propios\nmil EUR\n2020', 'Pasivo fijo\nmil EUR\n2020',
       'Acreedores a L. P.\nmil EUR\n2020',
       'Otros pasivos fijos\nmil EUR\n2020', 'Pasivo líquido\nmil EUR\n2020',
       'Deudas financieras\nmil EUR\n2020',
       'Acreedores comerciales\nmil EUR\n2020',
       'Otros pasivos líquidos\nmil EUR\n2020',
       'Total pasivo y capital propio\nmil EUR\n2020',
       'Número empleados\n2020', 'Ingresos de explotación\nmil EUR\n2020',
       'Importe neto Cifra de Ventas\nmil EUR\n2020',
       'Consumo de mercaderías y de materias\nmil EUR\n2020',
       'Resultado bruto\nmil EUR\n2020',
       'Otros gastos de explotación\nmil EUR\n2020',
       'Resultado Explotación\nmil EUR\n2020',
       'Ingresos financieros\nmil EUR\n2020',
       'Gastos financieros\nmil EUR\n2020',
       'Resultado financiero\nmil EUR\n2020',
       'Result. ordinarios antes Impuestos\nmil EUR\n2020',
       'Impuestos sobre sociedades\nmil EUR\n2020',
       'Resultado Actividades Ordinarias\nmil EUR\n2020',
       'Ingresos extraordinarios\nmil EUR\n2020',
       'Gastos extraordinarios\nmil EUR\n2020',
       'Resultados actividades extraordinarias\nmil EUR\n2020',
       'Resultado del Ejercicio\nmil EUR\n2020', 'Materiales\nmil EUR\n2020',
       'Gastos de personal\nmil EUR\n2020',
       'Dotaciones para amortiz. de inmovil.\nmil EUR\n2020',
       'Otros Conceptos de Explotación\nmil EUR\n2020',
       'Gastos financieros y gastos asimilados\nmil EUR\n2020'],
      dtype='object')

In [4]:
df_2020_ingexp = df_2020[['Código NIF','Ingresos de explotación\nmil EUR\n2020']]
df_2020_ingexp.replace('n.d.',np.nan,inplace=True)
df_2020_ingexp.replace('Financial Export limit reached',np.nan,inplace=True)
df_2020_ingexp.isna().sum()

/tmp/ipykernel_7010/2237610778.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_ingexp.replace('n.d.',np.nan,inplace=True)
/tmp/ipykernel_7010/2237610778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_ingexp.replace('Financial Export limit reached',np.nan,inplace=True)

Código NIF                                    0
Ingresos de explotación\nmil EUR\n2020    10068
dtype: int64

In [5]:
df_2022_col=df_2022[['Nombre', 'Código NIF', 'Localidad',
       'Provincia', 'País', 'Código primario CNAE 2009',
       'Literal código CNAE 2009 primario', 'Fecha constitución',
       'Importador / Exportador', 'Países importación', 'Países exportación','Resultado del Ejercicio\nmil EUR\n2022',
       'Total activo\nmil EUR\n2022', 'Ingresos de explotación\nmil EUR\n2022', 'Activo circulante\nmil EUR\n2022', 
       'Pasivo líquido\nmil EUR\n2022', 'Resultado Explotación\nmil EUR\n2022',  
       'Otros activos líquidos\nmil EUR\n2022','Capital suscrito\nmil EUR\n2022',
       'Otros fondos propios\nmil EUR\n2022',]]
df_2022_col.head()

,Nombre,Código NIF,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,Países exportación,Resultado del Ejercicio\nmil EUR\n2022,Total activo\nmil EUR\n2022,Ingresos de explotación\nmil EUR\n2022,Activo circulante\nmil EUR\n2022,Pasivo líquido\nmil EUR\n2022,Resultado Explotación\nmil EUR\n2022,Otros activos líquidos\nmil EUR\n2022,Capital suscrito\nmil EUR\n2022,Otros fondos propios\nmil EUR\n2022
0,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,A95758389,BILBAO,Vizcaya,ESPANA,3514,Comercio de energía eléctrica,2014-03-17 00:00:00,Exportador,NaN,UE,627609.0,3252348.0,14505887.0,2768672.0,1678552.0,808712.0,439508.0,155295.0,1344809.0
1,PAN AMERICAN ENERGY SL.,B88260203,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1997-09-29 00:00:00,Exportador,NaN,ARGENTINA,477940.0,14448655.0,5112628.0,1700432.0,1727270.0,578995.0,742038.0,2093033.0,5777889.0
2,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,A95758371,BILBAO,Vizcaya,ESPANA,4611,Intermediarios del comercio de materias primas...,2014-03-17 00:00:00,Exportador,NaN,UE,923275.0,7184141.0,5004915.0,3882794.0,2219290.0,1564280.0,2676848.0,1985452.0,-772285.0
3,ALVEAN SUGAR SOCIEDAD LIMITADA.,B95773057,BILBAO,Vizcaya,ESPANA,4636,"Comercio al por mayor de azúcar, chocolate y c...",2014-07-17 00:00:00,Importador / Exportador,NaN,NaN,67407.0,835248.0,3994744.0,799119.0,487710.0,84885.0,352001.0,30857.0,312183.0
4,"IBERDROLA, SOCIEDAD ANONIMA",A48010615,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1901-07-19 00:00:00,Exportador,NaN,UE,2840000.0,53343000.0,3058000.0,3301000.0,10228000.0,3167000.0,3003000.0,4772000.0,26909000.0

Descartamos el df del 2021 al ver una gran cantidad de duplicados y al tener muchos menos datos no repetidos que el resto de los df.

In [6]:
nif_comunes =  set(df_2020['Código NIF'])&set(df_2022['Código NIF'])
len(nif_comunes)

39464

In [7]:
paises=list(df_2022_col[['Países exportación']].value_counts().index)
paises

[('UE',),
 ('EUROPA',),
 ('FRANCIA',),
 ('PORTUGAL',),
 ('UE;EEUU',),
 ('MEXICO',),
 ('AMERICA;ASIA;EUROPA',),
 ('CENTRO AMERICA;SUDAMERICA;UE',),
 ('FRANCIA;PORTUGAL',),
 ('ITALIA',),
 ('AMERICA;UE',),
 ('SUDAMERICA;UE',),
 ('ALEMANIA;FRANCIA',),
 ('CHINA',),
 ('ALEMANIA',),
 ('CUBA',),
 ('AFRICA;AMERICA;ASIA;EUROPA;OCEANIA',),
 ('AFRICA;AMERICA;ASIA;EUROPA',),
 ('EEUU',),
 ('BELGICA',),
 ('AMERICA;EUROPA',),
 ('AMERICA',),
 ('EUROPA;CENTRO AMERICA;SUDAMERICA',),
 ('ALEMANIA;FRANCIA;ITALIA;PORTUGAL',),
 ('EUROPA;EEUU',),
 ('SUECIA',),
 ('ALEMANIA;EEUU;UK',),
 ('CENTRO AMERICA;SUDAMERICA',),
 ('EUROPA;SUDAMERICA',),
 ('UE;AMERICA',),
 ('FRANCIA;UK;RUMANIA',),
 ('EUROPA;AUSTRALIA;CANADA;EEUU;JAPON;NUEVA ZELANDA',),
 ('INDIA',),
 ('INDIA;FRANCIA;CHINA',),
 ('EUROPA;ALEMANIA;SUECIA;FRANCIA;UK',),
 ('INDIA;PORTUGAL',),
 ('EUROPA;ORIENTE MEDIO;CHINA;EGIPTO',),
 ('IRLANDA;EEUU;AUSTRALIA;FRANCIA;CANADA',),
 ('ITALIA;FRANCIA',),
 ('ITALIA;FRANCIA;JAPON;ALEMANIA;AUSTRIA;EEUU;UK;ARABIA SAUDI',),
 ('ITALIA;POLONIA;UK;SUDAFRICA',),
 ('ITALIA;PORTUGAL',),
 ('KAZAJSTAN',),
 ('EUROPA;UK',),
 ('INDIA;SUECIA',),
 ('FRANCIA;SUDAMERICA',),
 ('EUROPA;BRASIL;SUDAFRICA',),
 ('FRANCIA;PORTUGAL;UK;BELGICA;DINAMARCA;ALEMANIA;PAISES BAJOS',),
 ('FRANCIA;ALEMANIA',),
 ('FRANCIA;ALEMANIA;SUIZA;AUSTRIA;BELGICA',),
 ('FRANCIA;PORTUGAL;ITALIA',),
 ('FRANCIA;BELGICA;PORTUGAL',),
 ('FRANCIA;EUROPA',),
 ('FRANCIA;ITALIA',),
 ('EUROPA;EEUU;MEXICO',),
 ('EUROPA;NORTE AMERICA;SUDAMERICA;ARGENTINA;COLOMBIA;EEUU;MEXICO',),
 ('EUROPA;EEUU;RUSIA;TAIWAN',),
 ('FRANCIA;MARRUECOS;SENEGAL',),
 ('FRANCIA;ITALIA;PORTUGAL;UK',),
 ('FRANCIA;ITALIA;PAISES BAJOS;UK;ALEMANIA;POLONIA;COLOMBIA;BRASIL;MEXICO;MALI;SUECIA;COSTA DE MARFIL',),
 ('FRANCIA;UK',),
 ('UE;AFRICA',),
 ('UE;ALEMANIA;AUSTRALIA;EEUU;FRANCIA;INDIA;JAPON',),
 ('UE;ALEMANIA;BELGICA;FRANCIA',),
 ('UE;ALEMANIA;EEUU;UK;SUIZA',),
 ('UE;AMERICA;ARABIA SAUDI',),
 ('UE;ANDORRA',),
 ('UE;AUSTRALIA;INDONESIA;MALASIA',),
 ('AFRICA;AMERICA;ASIA;ORIENTE MEDIO;UE',),
 ('AFRICA;AMERICA;EUROPA',),
 ('AFRICA;AMERICA;EUROPA;ALEMANIA;AUSTRALIA;FRANCIA;GROENLANDIA;ITALIA;NUEVA ZELANDA;POLONIA',),
 ('EUROPA;ALEMANIA;BELGICA;CHINA;JAPON',),
 ('AFRICA;AMERICA;UE',),
 ('AFRICA;ASIA;CENTRO AMERICA;SUDAMERICA;UE;EEUU',),
 ('AFRICA;ASIA;EUROPA',),
 ('UK;PAISES BAJOS',),
 ('UE;CANADA;EEUU;UK',),
 ('UE;CHINA;EEUU',),
 ('UE;CHINA;HONG KONG',),
 ('UE;CHINA;MEXICO',),
 ('UE;IRAN',),
 ('AFRICA DEL NORTE;ORIENTE MEDIO;SUDAMERICA;UE',),
 ('AFRICA;AMERICA;EUROPA;OCEANIA',),
 ('MARRUECOS',),
 ('MEXICO;ALEMANIA;EEUU;CHINA',),
 ('MEXICO;CUBA;ITALIA;FRANCIA',),
 ('MEXICO;ECUADOR;COLOMBIA;POLONIA;ESLOVENIA;LIBIA;INDIA;QATAR;ARABIA SAUDI',),
 ('MEXICO;POLONIA',),
 ('MEXICO;PORTUGAL;RUMANIA',),
 ('NIGERIA;FILIPINAS',),
 ('ORIENTE MEDIO;UCRANIA;RUSIA',),
 ('PAISES BAJOS;FRANCIA;ITALIA;UK;ALEMANIA',),
 ('PAKISTAN',),
 ('TURQUIA;ESLOVENIA;MEXICO;EEUU;CANADA;INDONESIA;AUSTRALIA;INDIA;COREA DEL SUR;CHINA',),
 ('PORTUGAL;MARRUECOS;TUNEZ;SUDAFRICA;ANGOLA;MOZAMBIQUE',),
 ('PORTUGAL;SUDAMERICA',),
 ('REPUBLICA CHECA;UK;MEXICO',),
 ('REPUBLICA DOMINICANA',),
 ('RUMANIA',),
 ('SERBIA;POLONIA;MEXICO;BRASIL;ALEMANIA;ISRAEL;INDIA;PORTUGAL;RUSIA;SUECIA',),
 ('SUDAMERICA',),
 ('SUDAMERICA;EEUU',),
 ('SUECIA;NORUEGA;ALEMANIA;EEUU;FRANCIA;UK;PAISES BAJOS',),
 ('SUIZA;FRANCIA;ALEMANIA',),
 ('TUNEZ;PORTUGAL;SUECIA;ALEMANIA;IRLANDA;BELGICA;FRANCIA;PAISES BAJOS;UK',),
 ('PORTUGAL;CHILE',),
 ('ALEMANIA;CANADA;EEUU;FRANCIA;PORTUGAL;UK',),
 ('ALEMANIA;CHINA;COREA DEL SUR;ESLOVAQUIA;EEUU;FRANCIA;HUNGRIA;INDIA;ITALIA;JAPON;MEXICO;POLONIA;PORTUGAL;RUSIA',),
 ('ALEMANIA;DINAMARCA;FRANCIA;PAISES BAJOS;UK;SUIZA',),
 ('ALEMANIA;EEUU;FRANCIA',),
 ('ALEMANIA;ESLOVAQUIA;FRANCIA;REPUBLICA CHECA',),
 ('ALEMANIA;FRANCIA;ARGENTINA;PAISES BAJOS;MEXICO;BELGICA',),
 ('ALEMANIA;FRANCIA;ISRAEL;ITALIA;POLONIA',),
 ('ALEMANIA;FRANCIA;UK;PAISES BAJOS;PORTUGAL;SUIZA',),
 ('ALEMANIA;INDONESIA',),
 ('ALEMANIA;PAISES BAJOS',),
 ('UE;JAPON',),
 ('AMERICA;ASIA;EUROPA;ARABIA SAUDI;CHILE;COLOMBIA;COSTA RICA;EMIRATOS ARABES UNIDOS;PANAMA;PERU;TURQUIA',),
 ('AMERICA;ASIA;UE',),
 ('AMERICA;EUROPA;UE',),
 ('ANDORRA;CHINA;ECUADOR;EEUU;GHANA;GIBRALTAR;HONG KONG',),
 ('ARABIA SAUDI;BRASIL;FRANCIA;INDIA;ITALIA;PAISES BAJOS;PORTUGAL',),
 ('ARABIA SAUDI;COLOMBIA;MEXICO',),
 ('ARABIA SAUDI;COREA DEL SUR;EEUU;HONG KONG;LITUANIA;PERU;PORTUGAL;RUMANIA;SINGAPUR;VIETNAM',),
 ('ARGELIA;CANADA;MEXICO;MONTENEGRO',),
 ('ARGENTINA',),
 ('ARGENTINA;BULGARIA;ECUADOR',),
 ('AMERICA;ASIA',),
 ('AFRICA;AMERICA;ASIA;EUROPA;UE;EEUU',),
 ('UE;MARRUECOS',),
 ('AFRICA;ASIA;EUROPA;CENTRO AMERICA;SUDAMERICA',),
 ('UE;PORTUGAL',),
 ('UE;SUECIA',),
 ('UE;UK',),
 ('UE;UK;TURQUIA',),
 ('UK',),
 ('UK;ALEMANIA;BELGICA;EEUU;IRLANDA;FRANCIA;ITALIA;EUROPA;JAPON',),
 ('UK;FRANCIA;ALEMANIA;EEUU;RUSIA;POLONIA',),
 ('ALEMANIA;CANADA;CHINA;FRANCIA;GRECIA;ITALIA;PORTUGAL;RUSIA',),
 ('AFRICA;ASIA;EUROPA;CENTRO AMERICA;SUDAMERICA;UE;AUSTRALIA;EEUU',),
 ('AFRICA;ASIA;EUROPA;NORTE AMERICA;CENTRO AMERICA;SUDAMERICA;ORIENTE MEDIO;AUSTRALIA;NUEVA ZELANDA',),
 ('AFRICA;CENTRO AMERICA;SUDAMERICA',),
 ('AFRICA;UE',),
 ('ALEMANIA;ANDORRA;ARABIA SAUDI;ARGENTINA;AUSTRALIA;AUSTRIA;BAHREIN;BELGICA;BRASIL;BULGARIA;CANADA;CHILE;COLOMBIA;COREA DEL SUR;COSTA RICA;DINAMARCA;ECUADOR;EGIPTO;EMIRATOS ARABES UNIDOS;ESLOVENIA;EEUU',),
 ('ALEMANIA;ARGENTINA;AUSTRIA;BELGICA;BRASIL;CANADA;CHINA;COREA DEL SUR;ECUADOR;EGIPTO;EEUU;FRANCIA;GRECIA;HONG KONG;ISRAEL;ITALIA;MARRUECOS;PAKISTAN;POLONIA;PORTUGAL;UK;REPUBLICA CHECA;RUMANIA;RUSIA;SUI',),
 ('ALEMANIA;ARGENTINA;AUSTRIA;BELGICA;CHINA;EMIRATOS ARABES UNIDOS;EEUU;FINLANDIA;FRANCIA;INDIA;ITALIA;JAPON;MALASIA;MEXICO;UK;SUECIA;SUIZA',),
 ('ALEMANIA;BELGICA;CANADA;COLOMBIA;EEUU;FINLANDIA;HUNGRIA;IRLANDA;ITALIA;JAPON;MEXICO;PAISES BAJOS;POLONIA;UK;SUECIA',),
 ('ALEMANIA;BELGICA;EEUU;IRLANDA;UK;SUIZA',),
 ('ALEMANIA;BELGICA;FRANCIA;ITALIA;REPUBLICA CHECA;SUECIA;SUIZA',),
 ('ALEMANIA;BELGICA;PAISES BAJOS',),
 ('AFRICA',),
 ('CHILE;COLOMBIA;COREA DEL SUR;EEUU',),
 ('CHILE;COLOMBIA;PERU',),
 ('CHILE;JAPON;REPUBLICA DOMINICANA;SUIZA',),
 ('CHINA;EEUU;SUIZA',),
 ('CHINA;FRANCIA;RUMANIA;RUSIA',),
 ('CHINA;UE',),
 ('CHINA;UK;EEUU',),
 ('COLOMBIA;EEUU;FRANCIA;POLONIA;PORTUGAL;RUSIA;SUDAFRICA',),
 ('COLOMBIA;MALASIA',),
 ('CUBA;MARRUECOS',),
 ('ARGENTINA;URUGUAY',),
 ('CUBA;VENEZUELA',),
 ('DINAMARCA',),
 ('DINAMARCA;FINLANDIA;POLONIA;MEXICO;PANAMA;EEUU;JAPON;CANADA;ALEMANIA;UK',),
 ('EEUU;ASIA;EUROPA;CENTRO AMERICA',),
 ('EEUU;BRASIL;MEXICO',),
 ('EEUU;MEXICO',),
 ('EEUU;RUSIA',),
 ('EEUU;UE',),
 ('EGIPTO;AMERICA;EUROPA',),
 ('EMIRATOS ARABES UNIDOS',),
 ('ESLOVAQUIA;MEXICO',),
 ('CUBA;MEXICO',),
 ('ASIA;EUROPA',),
 ('ASIA;EUROPA;AFRICA DEL NORTE;CENTRO AMERICA;SUDAMERICA;BRASIL;UK',),
 ('ASIA;EUROPA;BRASIL;EEUU',),
 ('ASIA;EUROPA;PAISES ARABES',),
 ('ASIA;FINLANDIA',),
 ('AUSTRALIA;EMIRATOS ARABES UNIDOS;MEXICO',),
 ('BELGICA;BRASIL;EEUU;JAPON;PAISES BAJOS;SUIZA',),
 ('BELGICA;EEUU;LUXEMBURGO;PAISES BAJOS;UK',),
 ('BELGICA;FRANCIA;ITALIA;UK',),
 ('BELGICA;FRANCIA;PORTUGAL',),
 ('CENTRO AMERICA;SUDAMERICA;UE;MEXICO',),
 ('BELGICA;HUNGRIA;REPUBLICA CHECA;SUIZA',),
 ('BELGICA;MEXICO;PANAMA',),
 ('BELGICA;PORTUGAL;RUMANIA;SUECIA',),
 ('BELGICA;VENEZUELA;UK',),
 ('BRASIL',),
 ('BRASIL;CAMERUN;COSTA DE MARFIL;JAMAICA;MEXICO',),
 ('BRASIL;CHILE;COLOMBIA;COSTA DE MARFIL;CUBA;ECUADOR;MEXICO;PERU;SEYCHELLES',),
 ('BRASIL;PERU;REPUBLICA CHECA;SUIZA;URUGUAY',),
 ('CANADA;COREA DEL SUR;FRANCIA;ITALIA',),
 ('CENTRO AMERICA;ARGENTINA;CHILE;COLOMBIA;ECUADOR;MEXICO;PERU',),
 ('CENTRO AMERICA;SUDAMERICA;ESCANDINAVIA;UE;MEXICO',),
 ('BELGICA;FRANCIA;SUIZA',)]

In [8]:
df_2022_col_comunes =  df_2022_col[df_2022_col['Código NIF'].isin(nif_comunes)]
df_2022_col_comunes.drop_duplicates(inplace=True)
df_2022_col_comunes.reset_index(inplace=True, drop=True)
df_2022_col_comunes.head()

/tmp/ipykernel_7010/981536150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022_col_comunes.drop_duplicates(inplace=True)

,Nombre,Código NIF,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,Países exportación,Resultado del Ejercicio\nmil EUR\n2022,Total activo\nmil EUR\n2022,Ingresos de explotación\nmil EUR\n2022,Activo circulante\nmil EUR\n2022,Pasivo líquido\nmil EUR\n2022,Resultado Explotación\nmil EUR\n2022,Otros activos líquidos\nmil EUR\n2022,Capital suscrito\nmil EUR\n2022,Otros fondos propios\nmil EUR\n2022
0,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,A95758389,BILBAO,Vizcaya,ESPANA,3514,Comercio de energía eléctrica,2014-03-17 00:00:00,Exportador,NaN,UE,627609.0,3252348.0,14505887.0,2768672.0,1678552.0,808712.0,439508.0,155295.0,1344809.0
1,PAN AMERICAN ENERGY SL.,B88260203,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1997-09-29 00:00:00,Exportador,NaN,ARGENTINA,477940.0,14448655.0,5112628.0,1700432.0,1727270.0,578995.0,742038.0,2093033.0,5777889.0
2,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,A95758371,BILBAO,Vizcaya,ESPANA,4611,Intermediarios del comercio de materias primas...,2014-03-17 00:00:00,Exportador,NaN,UE,923275.0,7184141.0,5004915.0,3882794.0,2219290.0,1564280.0,2676848.0,1985452.0,-772285.0
3,ALVEAN SUGAR SOCIEDAD LIMITADA.,B95773057,BILBAO,Vizcaya,ESPANA,4636,"Comercio al por mayor de azúcar, chocolate y c...",2014-07-17 00:00:00,Importador / Exportador,NaN,NaN,67407.0,835248.0,3994744.0,799119.0,487710.0,84885.0,352001.0,30857.0,312183.0
4,"IBERDROLA, SOCIEDAD ANONIMA",A48010615,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1901-07-19 00:00:00,Exportador,NaN,UE,2840000.0,53343000.0,3058000.0,3301000.0,10228000.0,3167000.0,3003000.0,4772000.0,26909000.0

In [9]:
df_2020_comunes =  df_2020[df_2020['Código NIF'].isin(nif_comunes)]
df_2020_comunes.drop_duplicates(inplace=True)
df_2020_comunes.reset_index(inplace=True, drop=True)
df_2020_comunes.head()

/tmp/ipykernel_7010/3413841440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_comunes.drop_duplicates(inplace=True)

,Nombre,Código NIF,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,...,Resultado Actividades Ordinarias\nmil EUR\n2020,Ingresos extraordinarios\nmil EUR\n2020,Gastos extraordinarios\nmil EUR\n2020,Resultados actividades extraordinarias\nmil EUR\n2020,Resultado del Ejercicio\nmil EUR\n2020,Materiales\nmil EUR\n2020,Gastos de personal\nmil EUR\n2020,Dotaciones para amortiz. de inmovil.\nmil EUR\n2020,Otros Conceptos de Explotación\nmil EUR\n2020,Gastos financieros y gastos asimilados\nmil EUR\n2020
0,PETROLEOS DEL NORTE SOCIEDAD ANONIMA,A48053243,MUSKIZ,Vizcaya,ESPANA,1920,Refino de petróleo,1968-01-01 00:00:00,Importador / Exportador,UE,...,-140086,NaN,NaN,NaN,-140086,3362167,93672,97175,-225893,2613
1,SIDENOR ACEROS ESPECIALES SLU,B01292903,BASAURI,Vizcaya,ESPANA,2410,"Fabricación de productos básicos de hierro, ac...",1999-11-18 00:00:00,Importador / Exportador,UE,...,-39853,NaN,NaN,NaN,-39853,244284,90310,22212,-136437,3684
2,BRIDGESTONE HISPANIA MANUFACTURING SOCIEDAD LI...,B95922688,BASAURI,Vizcaya,ESPANA,2211,Fabricación de neumáticos y cámaras de caucho;...,2018-05-31 00:00:00,Exportador,NaN,...,1792,NaN,NaN,NaN,1792,282346,153205,43388,-76136,548
3,COMPAÑIA NORTEÑA DE BEBIDAS GASEOSAS NORBEGA S...,B48023030,GALDAKAO,Vizcaya,ESPANA,1107,Fabricación de bebidas no alcohólicas; producc...,1955-07-06 00:00:00,Importador,UE,...,18209.709,NaN,NaN,NaN,18209.709,608261.681,19561.039,14293.748,-61482.757,NaN
4,BAHIA DE BIZKAIA ELECTRICIDAD SOCIEDAD LIMITADA,B48969877,ZIERBENA,Vizcaya,ESPANA,3519,Producción de energía eléctrica de otros tipos,1998-04-30 00:00:00,Importador,NaN,...,1146.572,NaN,NaN,NaN,1146.572,132891.325,3818.954,23742.362,-15559.192,64.766

In [10]:
df_2022_comunes =  df_2022[df_2022['Código NIF'].isin(nif_comunes)]
df_2022_comunes.reset_index(inplace=True, drop=True)
df_2022_comunes.drop_duplicates(inplace=True)
df_2022_comunes.reset_index(inplace=True, drop=True)
df_2022_comunes.head()

/tmp/ipykernel_7010/491666476.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022_comunes.drop_duplicates(inplace=True)

,Nombre,Código NIF,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,...,Resultado Actividades Ordinarias\nmil EUR\n2022,Ingresos extraordinarios\nmil EUR\n2022,Gastos extraordinarios\nmil EUR\n2022,Resultados actividades extraordinarias\nmil EUR\n2022,Resultado del Ejercicio\nmil EUR\n2022,Materiales\nmil EUR\n2022,Gastos de personal\nmil EUR\n2022,Dotaciones para amortiz. de inmovil.\nmil EUR\n2022,Otros Conceptos de Explotación\nmil EUR\n2022,Gastos financieros y gastos asimilados\nmil EUR\n2022
0,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,A95758389,BILBAO,Vizcaya,ESPANA,3514,Comercio de energía eléctrica,2014-03-17 00:00:00,Exportador,NaN,...,627609.0,NaN,NaN,NaN,627609.0,12868251.0,77500.0,9612.0,-741812.0,1502.0
1,PAN AMERICAN ENERGY SL.,B88260203,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1997-09-29 00:00:00,Exportador,NaN,...,477940.0,NaN,NaN,NaN,477940.0,1134150.0,489580.0,805893.0,-2104010.0,488731.0
2,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,A95758371,BILBAO,Vizcaya,ESPANA,4611,Intermediarios del comercio de materias primas...,2014-03-17 00:00:00,Exportador,NaN,...,923275.0,NaN,NaN,NaN,923275.0,4046923.0,26987.0,2654.0,635929.0,9620.0
3,ALVEAN SUGAR SOCIEDAD LIMITADA.,B95773057,BILBAO,Vizcaya,ESPANA,4636,"Comercio al por mayor de azúcar, chocolate y c...",2014-07-17 00:00:00,Importador / Exportador,NaN,...,67407.0,NaN,NaN,NaN,67407.0,3874052.0,20475.0,1945.0,-13387.0,12819.0
4,"IBERDROLA, SOCIEDAD ANONIMA",A48010615,BILBAO,Vizcaya,ESPANA,6420,Actividades de las sociedades holding,1901-07-19 00:00:00,Exportador,NaN,...,2840000.0,NaN,NaN,NaN,2840000.0,NaN,166000.0,72000.0,347000.0,322000.0

In [11]:
df_2022_col_comunes.columns

Index(['Nombre', 'Código NIF', 'Localidad', 'Provincia', 'País',
       'Código primario CNAE 2009', 'Literal código CNAE 2009 primario',
       'Fecha constitución', 'Importador / Exportador', 'Países importación',
       'Países exportación', 'Resultado del Ejercicio\nmil EUR\n2022',
       'Total activo\nmil EUR\n2022', 'Ingresos de explotación\nmil EUR\n2022',
       'Activo circulante\nmil EUR\n2022', 'Pasivo líquido\nmil EUR\n2022',
       'Resultado Explotación\nmil EUR\n2022',
       'Otros activos líquidos\nmil EUR\n2022',
       'Capital suscrito\nmil EUR\n2022',
       'Otros fondos propios\nmil EUR\n2022'],
      dtype='object')

In [12]:
df_2020_comunes.replace('n.d.',np.nan,inplace=True)
df_2022_comunes.replace('n.d.',np.nan,inplace=True)
df_2022_col_comunes.replace('n.d.',np.nan,inplace=True)

/tmp/ipykernel_7010/3976597485.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_comunes.replace('n.d.',np.nan,inplace=True)
/tmp/ipykernel_7010/3976597485.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022_comunes.replace('n.d.',np.nan,inplace=True)
/tmp/ipykernel_7010/3976597485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2022_col_comunes.replace('n.d.',np.nan,inplace=True)

In [13]:
print(df_2022_col_comunes.isna().sum())

Nombre                                        0
Código NIF                                    0
Localidad                                     1
Provincia                                     0
País                                          0
Código primario CNAE 2009                     0
Literal código CNAE 2009 primario             0
Fecha constitución                           14
Importador / Exportador                       0
Países importación                        37019
Países exportación                        38496
Resultado del Ejercicio\nmil EUR\n2022    10253
Total activo\nmil EUR\n2022               10106
Ingresos de explotación\nmil EUR\n2022    11011
Activo circulante\nmil EUR\n2022          10121
Pasivo líquido\nmil EUR\n2022             10341
Resultado Explotación\nmil EUR\n2022      10217
Otros activos líquidos\nmil EUR\n2022     10509
Capital suscrito\nmil EUR\n2022           10107
Otros fondos propios\nmil EUR\n2022       10134
dtype: int64

In [14]:
df_2022_col_comunes=df_2022_col_comunes[df_2022_col_comunes['Total activo\nmil EUR\n2022'].notna()]
df_2022_col_comunes.isna().sum()

Nombre                                        0
Código NIF                                    0
Localidad                                     0
Provincia                                     0
País                                          0
Código primario CNAE 2009                     0
Literal código CNAE 2009 primario             0
Fecha constitución                            5
Importador / Exportador                       0
Países importación                        27301
Países exportación                        28557
Resultado del Ejercicio\nmil EUR\n2022      147
Total activo\nmil EUR\n2022                   0
Ingresos de explotación\nmil EUR\n2022      905
Activo circulante\nmil EUR\n2022             15
Pasivo líquido\nmil EUR\n2022               235
Resultado Explotación\nmil EUR\n2022        111
Otros activos líquidos\nmil EUR\n2022       403
Capital suscrito\nmil EUR\n2022               1
Otros fondos propios\nmil EUR\n2022          28
dtype: int64

In [15]:
df_2020_2022=df_2022_col_comunes.merge(df_2020_ingexp, on='Código NIF', how='left')

### PROCESAMIENTO

In [16]:
#Factorizar la columna fecha de constitución
df_2020_2022['Fecha constitución'] = pd.to_datetime(df_2020_2022['Fecha constitución'])
df_2020_2022['Empresa reciente'] = df_2020_2022['Fecha constitución'].apply(lambda x: False if x.year < 2019 else True)
#Eliminar columnas
df_2020_2022.drop(["Fecha constitución", "Localidad", "País"], axis=1)

,Nombre,Código NIF,Provincia,Código primario CNAE 2009,Literal código CNAE 2009 primario,Importador / Exportador,Países importación,Países exportación,Resultado del Ejercicio\nmil EUR\n2022,Total activo\nmil EUR\n2022,Ingresos de explotación\nmil EUR\n2022,Activo circulante\nmil EUR\n2022,Pasivo líquido\nmil EUR\n2022,Resultado Explotación\nmil EUR\n2022,Otros activos líquidos\nmil EUR\n2022,Capital suscrito\nmil EUR\n2022,Otros fondos propios\nmil EUR\n2022,Ingresos de explotación\nmil EUR\n2020,Empresa reciente
0,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,A95758389,Vizcaya,3514,Comercio de energía eléctrica,Exportador,NaN,UE,6.276090e+05,3.252348e+06,14505887.0,2.768672e+06,1.678552e+06,8.087120e+05,4.395080e+05,155295.00,1.344809e+06,7.385719e+06,False
1,PAN AMERICAN ENERGY SL.,B88260203,Vizcaya,6420,Actividades de las sociedades holding,Exportador,NaN,ARGENTINA,4.779400e+05,1.444866e+07,5112628.0,1.700432e+06,1.727270e+06,5.789950e+05,7.420380e+05,2093033.00,5.777889e+06,2.591452e+06,False
2,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,A95758371,Vizcaya,4611,Intermediarios del comercio de materias primas...,Exportador,NaN,UE,9.232750e+05,7.184141e+06,5004915.0,3.882794e+06,2.219290e+06,1.564280e+06,2.676848e+06,1985452.00,-7.722850e+05,5.720173e+06,False
3,ALVEAN SUGAR SOCIEDAD LIMITADA.,B95773057,Vizcaya,4636,"Comercio al por mayor de azúcar, chocolate y c...",Importador / Exportador,NaN,NaN,6.740700e+04,8.352480e+05,3994744.0,7.991190e+05,4.877100e+05,8.488500e+04,3.520010e+05,30857.00,3.121830e+05,3.199090e+06,False
4,"IBERDROLA, SOCIEDAD ANONIMA",A48010615,Vizcaya,6420,Actividades de las sociedades holding,Exportador,NaN,UE,2.840000e+06,5.334300e+07,3058000.0,3.301000e+06,1.022800e+07,3.167000e+06,3.003000e+06,4772000.00,2.690900e+07,2.880000e+06,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29353,UZIRALO SA.,A01488865,Alava,7022,Otras actividades de consultoría de gestión em...,Importador,UE,NaN,-3.192800e-01,1.408832e+03,NaN,7.611933e+01,3.659500e+00,-4.160300e-01,7.941100e-01,75.00,0.000000e+00,7.000000e+01,False
29354,VAB GESTION EMPRESARIAL SL,B01378199,Alava,6612,Actividades de intermediación en operaciones c...,No realiza actividad exterior,NaN,NaN,-1.192249e+02,5.701230e+02,NaN,1.411810e+00,NaN,3.057410e+01,NaN,365.67,2.044530e+02,NaN,False
29355,VALGAÑON GESTION SL,B01474865,Alava,6499,"Otros servicios financieros, excepto seguros y...",No realiza actividad exterior,NaN,NaN,1.484681e+02,6.617062e+02,NaN,3.482709e+02,NaN,-4.531940e+00,3.482709e+02,60.00,6.017062e+02,NaN,False
29356,VENALTA NAVIERA SL.,B01572825,Alava,4110,Promoción inmobiliaria,No realiza actividad exterior,NaN,NaN,-2.011970e+01,4.559496e+02,NaN,3.599141e+02,1.174579e+02,-2.379382e+01,9.274300e+00,40.00,2.851635e+02,4.434797e+02,False
29357,WAREBER INVERSIONES SL,B86089067,Alava,9602,Peluquería y otros tratamientos de belleza,No realiza actividad exterior,NaN,NaN,-1.554517e+01,1.027906e+02,NaN,4.950414e+01,7.201330e+01,-1.342891e+01,4.062376e+01,3.01,-4.919472e+01,2.960422e+02,False

In [17]:
#Factorizar columna
print(df_2020_2022['Provincia'].unique())
df_2020_2022['Provincia'] = pd.factorize(df_2020_2022['Provincia'])[0] + 1
df_2020_2022

['Vizcaya' 'Guipuzcoa' 'Alava']

,Nombre,Código NIF,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,...,Total activo\nmil EUR\n2022,Ingresos de explotación\nmil EUR\n2022,Activo circulante\nmil EUR\n2022,Pasivo líquido\nmil EUR\n2022,Resultado Explotación\nmil EUR\n2022,Otros activos líquidos\nmil EUR\n2022,Capital suscrito\nmil EUR\n2022,Otros fondos propios\nmil EUR\n2022,Ingresos de explotación\nmil EUR\n2020,Empresa reciente
0,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,A95758389,BILBAO,1,ESPANA,3514,Comercio de energía eléctrica,2014-03-17,Exportador,NaN,...,3.252348e+06,14505887.0,2.768672e+06,1.678552e+06,8.087120e+05,4.395080e+05,155295.00,1.344809e+06,7.385719e+06,False
1,PAN AMERICAN ENERGY SL.,B88260203,BILBAO,1,ESPANA,6420,Actividades de las sociedades holding,1997-09-29,Exportador,NaN,...,1.444866e+07,5112628.0,1.700432e+06,1.727270e+06,5.789950e+05,7.420380e+05,2093033.00,5.777889e+06,2.591452e+06,False
2,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,A95758371,BILBAO,1,ESPANA,4611,Intermediarios del comercio de materias primas...,2014-03-17,Exportador,NaN,...,7.184141e+06,5004915.0,3.882794e+06,2.219290e+06,1.564280e+06,2.676848e+06,1985452.00,-7.722850e+05,5.720173e+06,False
3,ALVEAN SUGAR SOCIEDAD LIMITADA.,B95773057,BILBAO,1,ESPANA,4636,"Comercio al por mayor de azúcar, chocolate y c...",2014-07-17,Importador / Exportador,NaN,...,8.352480e+05,3994744.0,7.991190e+05,4.877100e+05,8.488500e+04,3.520010e+05,30857.00,3.121830e+05,3.199090e+06,False
4,"IBERDROLA, SOCIEDAD ANONIMA",A48010615,BILBAO,1,ESPANA,6420,Actividades de las sociedades holding,1901-07-19,Exportador,NaN,...,5.334300e+07,3058000.0,3.301000e+06,1.022800e+07,3.167000e+06,3.003000e+06,4772000.00,2.690900e+07,2.880000e+06,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29353,UZIRALO SA.,A01488865,VITORIA-GASTEIZ,3,ESPANA,7022,Otras actividades de consultoría de gestión em...,2011-07-21,Importador,UE,...,1.408832e+03,NaN,7.611933e+01,3.659500e+00,-4.160300e-01,7.941100e-01,75.00,0.000000e+00,7.000000e+01,False
29354,VAB GESTION EMPRESARIAL SL,B01378199,VITORIA-GASTEIZ,3,ESPANA,6612,Actividades de intermediación en operaciones c...,2004-12-16,No realiza actividad exterior,NaN,...,5.701230e+02,NaN,1.411810e+00,NaN,3.057410e+01,NaN,365.67,2.044530e+02,NaN,False
29355,VALGAÑON GESTION SL,B01474865,VITORIA-GASTEIZ,3,ESPANA,6499,"Otros servicios financieros, excepto seguros y...",2010-07-02,No realiza actividad exterior,NaN,...,6.617062e+02,NaN,3.482709e+02,NaN,-4.531940e+00,3.482709e+02,60.00,6.017062e+02,NaN,False
29356,VENALTA NAVIERA SL.,B01572825,LAPUEBLA DE LABARCA,3,ESPANA,4110,Promoción inmobiliaria,2018-11-28,No realiza actividad exterior,NaN,...,4.559496e+02,NaN,3.599141e+02,1.174579e+02,-2.379382e+01,9.274300e+00,40.00,2.851635e+02,4.434797e+02,False
29357,WAREBER INVERSIONES SL,B86089067,VITORIA-GASTEIZ,3,ESPANA,9602,Peluquería y otros tratamientos de belleza,2010-12-01,No realiza actividad exterior,NaN,...,1.027906e+02,NaN,4.950414e+01,7.201330e+01,-1.342891e+01,4.062376e+01,3.01,-4.919472e+01,2.960422e+02,False

In [18]:
#Indice
df_2020_2022.set_index("Código NIF", inplace=True)
df_2020_2022.index.name=None

In [19]:
df_2020_2022

,Nombre,Localidad,Provincia,País,Código primario CNAE 2009,Literal código CNAE 2009 primario,Fecha constitución,Importador / Exportador,Países importación,Países exportación,...,Total activo\nmil EUR\n2022,Ingresos de explotación\nmil EUR\n2022,Activo circulante\nmil EUR\n2022,Pasivo líquido\nmil EUR\n2022,Resultado Explotación\nmil EUR\n2022,Otros activos líquidos\nmil EUR\n2022,Capital suscrito\nmil EUR\n2022,Otros fondos propios\nmil EUR\n2022,Ingresos de explotación\nmil EUR\n2020,Empresa reciente
A95758389,IBERDROLA CLIENTES SOCIEDAD ANONIMA.,BILBAO,1,ESPANA,3514,Comercio de energía eléctrica,2014-03-17,Exportador,NaN,UE,...,3.252348e+06,14505887.0,2.768672e+06,1.678552e+06,8.087120e+05,4.395080e+05,155295.00,1.344809e+06,7.385719e+06,False
B88260203,PAN AMERICAN ENERGY SL.,BILBAO,1,ESPANA,6420,Actividades de las sociedades holding,1997-09-29,Exportador,NaN,ARGENTINA,...,1.444866e+07,5112628.0,1.700432e+06,1.727270e+06,5.789950e+05,7.420380e+05,2093033.00,5.777889e+06,2.591452e+06,False
A95758371,IBERDROLA ENERGIA ESPAÑA SOCIEDAD ANONIMA.,BILBAO,1,ESPANA,4611,Intermediarios del comercio de materias primas...,2014-03-17,Exportador,NaN,UE,...,7.184141e+06,5004915.0,3.882794e+06,2.219290e+06,1.564280e+06,2.676848e+06,1985452.00,-7.722850e+05,5.720173e+06,False
B95773057,ALVEAN SUGAR SOCIEDAD LIMITADA.,BILBAO,1,ESPANA,4636,"Comercio al por mayor de azúcar, chocolate y c...",2014-07-17,Importador / Exportador,NaN,NaN,...,8.352480e+05,3994744.0,7.991190e+05,4.877100e+05,8.488500e+04,3.520010e+05,30857.00,3.121830e+05,3.199090e+06,False
A48010615,"IBERDROLA, SOCIEDAD ANONIMA",BILBAO,1,ESPANA,6420,Actividades de las sociedades holding,1901-07-19,Exportador,NaN,UE,...,5.334300e+07,3058000.0,3.301000e+06,1.022800e+07,3.167000e+06,3.003000e+06,4772000.00,2.690900e+07,2.880000e+06,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A01488865,UZIRALO SA.,VITORIA-GASTEIZ,3,ESPANA,7022,Otras actividades de consultoría de gestión em...,2011-07-21,Importador,UE,NaN,...,1.408832e+03,NaN,7.611933e+01,3.659500e+00,-4.160300e-01,7.941100e-01,75.00,0.000000e+00,7.000000e+01,False
B01378199,VAB GESTION EMPRESARIAL SL,VITORIA-GASTEIZ,3,ESPANA,6612,Actividades de intermediación en operaciones c...,2004-12-16,No realiza actividad exterior,NaN,NaN,...,5.701230e+02,NaN,1.411810e+00,NaN,3.057410e+01,NaN,365.67,2.044530e+02,NaN,False
B01474865,VALGAÑON GESTION SL,VITORIA-GASTEIZ,3,ESPANA,6499,"Otros servicios financieros, excepto seguros y...",2010-07-02,No realiza actividad exterior,NaN,NaN,...,6.617062e+02,NaN,3.482709e+02,NaN,-4.531940e+00,3.482709e+02,60.00,6.017062e+02,NaN,False
B01572825,VENALTA NAVIERA SL.,LAPUEBLA DE LABARCA,3,ESPANA,4110,Promoción inmobiliaria,2018-11-28,No realiza actividad exterior,NaN,NaN,...,4.559496e+02,NaN,3.599141e+02,1.174579e+02,-2.379382e+01,9.274300e+00,40.00,2.851635e+02,4.434797e+02,False
B86089067,WAREBER INVERSIONES SL,VITORIA-GASTEIZ,3,ESPANA,9602,Peluquería y otros tratamientos de belleza,2010-12-01,No realiza actividad exterior,NaN,NaN,...,1.027906e+02,NaN,4.950414e+01,7.201330e+01,-1.342891e+01,4.062376e+01,3.01,-4.919472e+01,2.960422e+02,False

# Mapeo de Sectores

In [20]:
# Función para mapear sectores (1)

def mapeo_sectores(cnae):
    if cnae < 500:
        return "Agricultura"
    elif cnae < 1000:
        return "Extraccion"
    elif cnae < 3500:
        return "Industria"
    elif cnae < 3599:
        return "Energia"
    elif cnae < 4000:
        return "Agua"
    elif cnae < 4400:
        return "Construccion"
    elif cnae < 4800:
        return "Comercio"
    elif cnae < 5500:
        return "Transporte"
    elif cnae < 5800:
        return "Hosteleria"
    elif cnae < 6400:
        return "Comunicaciones"
    elif cnae < 6800:
        return "Financieras"
    elif cnae < 6900:
        return "Inmobiliarias"
    elif cnae < 7700:
        return "Actividades Profesionales"
    elif cnae < 8300:
        return "Actividades Administrativas"
    elif cnae < 8500:
        return "Administracion Publica y Defensa"
    elif cnae < 8600:
        return "Educacion"
    elif cnae < 9000:
        return "Actividades Sanitarias"
    elif cnae < 9400:
        return "Actividades Artisticas"
    else:
        return "Otros"
    

df_2020_2022["Mapeo Sectores"] = df_2020_2022["Código primario CNAE 2009"].apply(mapeo_sectores)

In [21]:
df_2020_2022["Mapeo Sectores"].value_counts()

Mapeo Sectores
Comercio                            6031
Industria                           4172
Construccion                        3790
Actividades Profesionales           3369
Inmobiliarias                       2792
Hosteleria                          1693
Transporte                          1221
Financieras                         1175
Actividades Administrativas         1148
Comunicaciones                       963
Actividades Sanitarias               857
Actividades Artisticas               574
Otros                                458
Educacion                            434
Agricultura                          291
Energia                              242
Agua                                  98
Extraccion                            37
Administracion Publica y Defensa      13
Name: count, dtype: int64

In [22]:
def mapeo_sectores(cnae):
    if cnae < 500:
        return "Otros" # Agricultura
    elif cnae < 1000:
        return "Otros" # Extraccion
    elif cnae < 3500:
        return "Industria"
    elif cnae < 3599:
        return "Otros" # Energia
    elif cnae < 4000:
        return "Otros" # Agua
    elif cnae < 4400:
        return "Construccion e Inmobilarias" # Construccion
    elif cnae < 4800:
        return "Comercio"
    elif cnae < 5500:
        return "Transporte"
    elif cnae < 5800:
        return "Hosteleria"
    elif cnae < 6400:
        return "Otros" # Comunicaciones
    elif cnae < 6800:
        return "Actividades Profesionales y Financieras" # Financieras
    elif cnae < 6900:
        return "Construccion e Inmobilarias" # Inmobiliarias
    elif cnae < 7700:
        return "Actividades Profesionales y Financieras" # Actividades Profesionales
    elif cnae < 8300:
        return "Otros" # Actividades Administrativas
    elif cnae < 8500:
        return "Otros" # Administracion Publica y Defensa
    elif cnae < 8600:
        return "Otros" # Educacion
    elif cnae < 9000:
        return "Otros" # Actividades Sanitarias
    elif cnae < 9400:
        return "Otros" # Actividades Artisticas
    else:
        return "Otros"
    
df_2020_2022["Mapeo Sectores"] = df_2020_2022["Código primario CNAE 2009"].apply(mapeo_sectores)
df_2020_2022["Mapeo Sectores"].value_counts()

Mapeo Sectores
Construccion e Inmobilarias                6582
Comercio                                   6031
Otros                                      5115
Actividades Profesionales y Financieras    4544
Industria                                  4172
Hosteleria                                 1693
Transporte                                 1221
Name: count, dtype: int64

In [23]:
factorizacion_sectores = df_2020_2022["Mapeo Sectores"].factorize()
df_2020_2022["Sectores Factorizado"] = factorizacion_sectores[0] # Se podría hacer +1 (Para que no empiece de 0)

In [24]:
df_2020_2022.drop(columns=["Código primario CNAE 2009","Literal código CNAE 2009 primario","Mapeo Sectores"],inplace=True)

# Comercio en Euros o no

In [25]:
df_2020_2022["Importador / Exportador"].value_counts()

Importador / Exportador
No realiza actividad exterior    24988
Importador / Exportador           1950
Importador                        1731
Exportador                         689
Name: count, dtype: int64

In [26]:
list(set(list(set((";".join(list(df_2020_2022["Países exportación"].value_counts().index))).split(";")))+ list(set((";".join(list(df_2020_2022["Países importación"].value_counts().index))).split(";")))))

['COLOMBIA',
 'CAMERUN',
 'MEXICO',
 'HONG KONG',
 'TAILANDIA',
 'JAPON',
 'EEUU',
 'EUROPA',
 'MARRUECOS',
 'VENEZUELA',
 'MONTENEGRO',
 'PORTUGAL',
 'PANAMA',
 'SUDAFRICA',
 'ISRAEL',
 'LITUANIA',
 'SINGAPUR',
 'ESLOVENIA',
 'SUIZA',
 'OCEANIA',
 'COSTA RICA',
 'ECUADOR',
 'ARGENTINA',
 'BELGICA',
 'NUEVA ZELANDA',
 'GHANA',
 'BULGARIA',
 'SUDAMERICA',
 'MALASIA',
 'COREA DEL SUR',
 'GIBRALTAR',
 'REPUBLICA DOMINICANA',
 'EMIRATOS ARABES UNIDOS',
 'JAMAICA',
 'URUGUAY',
 'CENTRO AMERICA',
 'ARGELIA',
 'UK',
 'CHINA',
 'NORTE AMERICA',
 'FILIPINAS',
 'ORIENTE MEDIO',
 'LUXEMBURGO',
 'HUNGRIA',
 'TUNEZ',
 'MAURITANIA',
 'CANADA',
 'SENEGAL',
 'ALEMANIA',
 'POLONIA',
 'ANDORRA',
 'ANGOLA',
 'CUBA',
 'AUSTRIA',
 'RUSIA',
 'TAIWAN',
 'TURQUIA',
 'SUECIA',
 'VIETNAM',
 'AMERICA',
 'GROENLANDIA',
 'ITALIA',
 'INDIA',
 'GRECIA',
 'UE',
 'ESLOVAQUIA',
 'EGIPTO',
 'PERU',
 'COSTA DE MARFIL',
 'ESCANDINAVIA',
 'FINLANDIA',
 'MOZAMBIQUE',
 'PAISES ARABES',
 'REPUBLICA CHECA',
 'FRANCIA',
 'CHILE',
 'NIGERIA',
 'DINAMARCA',
 'SERBIA',
 'AFRICA DEL NORTE',
 'IRLANDA',
 'ASIA',
 'SEYCHELLES',
 'NORUEGA',
 'ARABIA SAUDI',
 'PAKISTAN',
 'AFRICA',
 'BRASIL',
 'PAISES BAJOS',
 'RUMANIA',
 'INDONESIA',
 'AUSTRALIA']

In [27]:
no_euro = ["ESLOVAQUIA",
 'ARGENTINA',
 'FILIPINAS',
 'COSTA DE MARFIL',
 'AUSTRALIA',
 'ISRAEL',
 'URUGUAY',
 'CHINA',
 'SUECIA',
 'ORIENTE MEDIO',
 'SUDAMERICA',
 'CANADA',
 'MAURITANIA',
 'NORTE AMERICA',
 'CUBA',
 'DINAMARCA',
 'ARGELIA',
 'NIGERIA',
 'GHANA',
 'VENEZUELA',
 'SUI',
 'ECUADOR',
 'SINGAPUR',
 'NUEVA ZELANDA',
 'GROENLANDIA',
 'ARABIA SAUDI',
 'POLONIA',
 'SUIZA',
 'PAISES ARABES',
 'PAKISTAN',
 'HUNGRIA',
 'BAHREIN',
 'VIETNAM',
 'AFRICA DEL NORTE',
 'MOZAMBIQUE',
 'QATAR',
 'COREA DEL SUR',
 'TAILANDIA',
 'PERU',
 'MALI',
 'MEXICO',
 'PANAMA',
 'MALASIA',
 'UK',
 'RUMANIA',
 'OCEANIA',
 'EMIRATOS ARABES UNIDOS',
 'ASIA',
 'REPUBLICA CHECA',
 'AFRICA',
 'LIBIA',
 'BULGARIA',
 'AMERICA',
 'CHILE',
 'CAMERUN',
 'SERBIA',
 'IRAN',
 'TUNEZ',
 'COSTA RICA',
 'KAZAJSTAN',
 'BRASIL',
 'REPUBLICA DOMINICANA',
 'HONG KONG',
 'SENEGAL',
 'INDONESIA',
 'ANGOLA',
 'CENTRO AMERICA',
 'EGIPTO',
 'MARRUECOS',
 'EEUU',
 'RUSIA',
 'JAPON',
 'COLOMBIA',
 'TURQUIA',
 'UCRANIA',
 'SEYCHELLES',
 'INDIA',
 'SUDAFRICA']

In [28]:
def pais(lista_paises):
    if type(lista_paises)==float:
        return np.nan
    lista_paises_sp = lista_paises.split(";")
    for pais in no_euro:
        if pais in lista_paises_sp:
            return True
    else:
        return False

exp = df_2020_2022["Países exportación"].apply(pais)
imp = df_2020_2022["Países importación"].apply(pais)

In [29]:
moneda = []
for i in range(len(exp)):
    if (exp[i] == True) or (imp[i]==True):
        moneda.append(True)
    else:
        moneda.append(False)

/tmp/ipykernel_7010/1566926137.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if (exp[i] == True) or (imp[i]==True):

In [30]:
df_2020_2022["Moneda no euro"] = moneda

In [31]:
df_2020_2022["Moneda no euro"].isna().sum() - df_2020_2022["Importador / Exportador"].value_counts()[0]

/tmp/ipykernel_7010/655583348.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df_2020_2022["Moneda no euro"].isna().sum() - df_2020_2022["Importador / Exportador"].value_counts()[0]

-24988

In [32]:
df_2020_2022[["Países importación","Países exportación","Moneda no euro"]].head(20)

,Países importación,Países exportación,Moneda no euro
A95758389,NaN,UE,False
B88260203,NaN,ARGENTINA,True
A95758371,NaN,UE,False
B95773057,NaN,NaN,False
A48010615,NaN,UE,False
A95554630,NaN,NaN,False
A95075578,NaN,NaN,False
B95924239,NaN,UE,False
A86583747,NaN,NaN,False
B95729463,UE,NaN,False
A28517308,NaN,UE,False
A95075586,NaN,NaN,False
A95758355,NaN,NaN,False
A81428476,NaN,NaN,False
B95596409,NaN,CENTRO AMERICA;SUDAMERICA,True
A95573283,NaN,NaN,False
A95758363,NaN,NaN,False
A48283964,NaN,AMERICA;ASIA;EUROPA;ARABIA SAUDI;CHILE;COLOMBI...,True
B81428468,NaN,NaN,False
A85957520,NaN,NaN,False

### RATIOS

In [33]:
df_2020_2022['Pasivo Total']=df_2020_2022['Total activo\nmil EUR\n2022']-df_2020_2022['Capital suscrito\nmil EUR\n2022']-df_2020_2022['Otros fondos propios\nmil EUR\n2022']
df_2020_2022['Endeudamiento']=df_2020_2022['Pasivo Total']/df_2020_2022['Total activo\nmil EUR\n2022']

In [34]:
df_2020_2022['Solvencia']=df_2020_2022['Activo circulante\nmil EUR\n2022']/df_2020_2022['Pasivo líquido\nmil EUR\n2022']

In [35]:
df_2020_2022['Evolucion_ventas_total']=df_2020_2022['Ingresos de explotación\nmil EUR\n2022']-df_2020_2022['Ingresos de explotación\nmil EUR\n2020']
df_2020_2022['Evolucion_ventas']=df_2020_2022['Evolucion_ventas_total']/df_2020_2022['Ingresos de explotación\nmil EUR\n2020']

In [36]:
df_2020_2022['ROA']=df_2020_2022['Resultado del Ejercicio\nmil EUR\n2022']/df_2020_2022['Total activo\nmil EUR\n2022']

In [37]:
df_2020_2022.drop(columns=['Resultado del Ejercicio\nmil EUR\n2022',
        'Ingresos de explotación\nmil EUR\n2022',
       'Activo circulante\nmil EUR\n2022', 'Pasivo líquido\nmil EUR\n2022',
       'Resultado Explotación\nmil EUR\n2022',
       'Otros activos líquidos\nmil EUR\n2022',
       'Capital suscrito\nmil EUR\n2022',
       'Otros fondos propios\nmil EUR\n2022',
       'Ingresos de explotación\nmil EUR\n2020', 'Pasivo Total', 'Evolucion_ventas_total' ], inplace=True)

In [38]:
df_2020_2022.isna().sum()

Nombre                             0
Localidad                          0
Provincia                          0
País                               0
Fecha constitución                 5
Importador / Exportador            0
Países importación             27301
Países exportación             28557
Total activo\nmil EUR\n2022        0
Empresa reciente                   0
Sectores Factorizado               0
Moneda no euro                     0
Endeudamiento                     29
Solvencia                        249
Evolucion_ventas                5423
ROA                              147
dtype: int64

- ver cuales son las variables que nos interesan y cuales no para eliminarlas, correlacion haciendo dropna?
- ver las filas que tienen casi todo na por si eliminamos las filas y nos quedamos con las variables
- interpolacion en alguna de las columnas?
- pensar que nuevas varibales nos pueden valer.
-pensar los modelos que vamos a utilizar para el clustering, k-means, clustering jerarquico...
- organizar los 4 puntos del trabajo(4 archivos diferentes para cada paso):
1. Iniciar el proyecto requiere primero comprender el significado de las
variables presentes en las bases de datos y realizar una depuración de
estos datos para que sean aptos para trabajar con ellos.

2. Seguidamente, se procederá al cálculo de los ratios financieros.

3. Luego, basándose en los cálculos anteriores, se segmentarán las
empresas mediante el uso de algoritmos de clustering.

4. Tras segmentar las empresas en diferentes grupos, estos se deberán
analizar individualmente para poder seleccionar los productos financieros
que mejor se adecuan a cada tipo de empresa. Se realizará una
investigación y análisis detallado de una amplia gama de productos
financieros disponibles en el mercado. Esto incluirá, pero no se limitará a,
préstamos, líneas de crédito, opciones de inversión, y seguros
empresariales. Esta investigación deberá utilizar como punto de partida al
cliente principal, Inetum, y valorar sus posibilidades a la hora de elegir los
productos financieros.


ESTA ES LA DISTRIBUCIÓN QUE SE PROPONE:
1. Procesamiento
2. Análisis exploratorio
3. Selección del modelo
4. Optimización del modelo
5. Resultados (visualización)

- Cada cosa en un cuaderno diferente
- De cada cuaderno sale un nuevo fichero de datos
- El nuevo fichero de datos se utilizará en el siguiente cuaderno
- Es un proceso secuencial